<div class="flex justify-center flex-col lg:flex-row">
    <div class="px-3 border-r">
        <h1 class=" text-center text-darkslategray text-lg font-medium border-b">Gestion Etica y Transparente de
            Proyecto</h1>
        <shared-input-field [readOnly]="readOnly" class="w-full md:w-1/3" fieldName="startDate" label="Fecha inicio:"
            inputType="date" [formGroup]="formProjectManager" [bgColor]="'bg-white-lightbone'"></shared-input-field>
        <shared-input-field [readOnly]="readOnly" class="w-full md:w-1/3" fieldName="endDate"
            label="Fecha finalización:" inputType="date" [formGroup]="formProjectManager"
            [bgColor]="'bg-white-lightbone'"></shared-input-field>
        <shared-input-field [readOnly]="readOnly" class="w-full md:w-1/3" fieldName="projectAmount"
            label="Cuantía Proyecto:" inputType="number" [formGroup]="formProjectManager"
            [bgColor]="'bg-white-lightbone'"></shared-input-field>
        <shared-input-field [readOnly]="readOnly" class="w-full md:w-1/3" fieldName="expensesEmployeesVolunteers"
            label="Gastos: Empleados/ Voluntarios:" inputType="number" [formGroup]="formProjectManager"
            [bgColor]="'bg-white-lightbone'"></shared-input-field>
        <shared-input-field [readOnly]="readOnly" class="w-full md:w-1/3" fieldName="supplierExpensesPurchases"
            label="Gastos Proveedores Compras (Inmovilizado, Existencias):" inputType="number"
            [formGroup]="formProjectManager" [bgColor]="'bg-white-lightbone'"></shared-input-field>
    </div>
    <div class="flex-1 px-3 space-y-3">
        <div class="flex items-center justify-end space-x-3 ">
            <div *ngIf="showOptions" class="animate__animated animate__fadeInRight flex flex-row space-x-3">
                <i routerLink="/project-manager/performance-buy"
                    class="cursor-pointer px-2 py-1 fa-solid fa-cart-shopping text-xl bg-line text-darkslategray rounded-full"></i>
                <i class="px-2 py-1 fa-solid fa-user-tie text-xl bg-line text-darkslategray rounded-full"></i>
            </div>
            <button class="flex items-center bg-darkslategray p-2 rounded-lg text-line"
                (click)="showOptionsPerformance()">
                <i class="fas animate-pulse pr-3 "
                    [ngClass]="{'fa-chevron-right' : showOptions, 'fa-chevron-left':!showOptions}"></i> Actuaciones
            </button>
        </div>
        <table class="table-auto w-full">
            <thead>
                <tr class="text-darkslategray bg-line ">
                    <th class="px-2 py-2" style="width: 30%;">Código</th>
                    <th class="px-2 py-2" style="width: 30%;">Código del Professional libre</th>
                    <th class="px-2" style="width: 30%;">Resumen</th>
                    <th class="px-2" style="width: 30%;">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center border-y px-2  py-2"></td>
                    <td class="text-center border-y px-2 py-2"></td>
                    <td class="text-center border-y px-2 py-2"></td>
                    <td class="text-center border-y px-2 py-2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>