<div class="flex flex-col items-end justify-end h-full p-3">

    <form [formGroup]="showPerformanceAssignedForm" (ngSubmit)="onSubmit()" autocomplete="off"
        class="h-full px-10 py-2 w-full">
        <div class="flex flex-wrap items-center">
            <shared-input-field [readOnly]="true" class="w-full md:w-1/2" fieldName="start_date"
                label="{{'start_date'|translate}}" inputType="date" [formGroup]="showPerformanceAssignedForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field [readOnly]="true" class="w-full md:w-1/2" fieldName="end_date"
                label="{{'end_date'|translate}}" inputType="date" [formGroup]="showPerformanceAssignedForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field [readOnly]="true" class="w-full md:w-1/2" fieldName="freeProfessionalCode"
                label="{{'Asignar Profesional Libre'|translate}}" [formGroup]="showPerformanceAssignedForm">
            </shared-input-field>

            <shared-input-field *ngIf="false" class="w-full md:w-1/2" fieldName="freeProfessionalId"
                [formGroup]="showPerformanceAssignedForm">
            </shared-input-field>

            <shared-input-field [readOnly]="true" class="w-full md:w-1/2" fieldName="Summary"
                label="{{'Summary'|translate}}" inputType="text" [formGroup]="showPerformanceAssignedForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <div class="flex flex-col items-center justify-center space-x-2 w-full">
                <input type="file" id="JustifyingDocument" formControlName="JustifyingDocument" class="hidden"
                    (change)="displayFileName()" [disabled]="true">
                <label for="JustifyingDocument" class="block text-gray-700 mb-1 cursor-pointer">
                    {{'justifyingDocument' | translate}}
                </label>
                <div class=" flex flex-col">
                    <label for="JustifyingDocument"
                        class="cursor-pointer py-2 px-4 border hover:bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
                        {{'seleccionar_archivo' | translate}}
                    </label>
                </div>
                <span class="ml-2 text-darkslategray">{{this.justifyingDocument}}</span>
            </div>

        </div>
        <div class="flex flex-row space-x-3 text-darkslategray border-b mt-3 text-start p-2 ">
            <h1>
                {{'ForecastData' | translate}}
            </h1>
        </div>
        <div class="flex flex-wrap pt-3">
            <shared-input-field [readOnly]="true" class="w-full md:w-1/2" fieldName="ForecastWorkHours"
                label="{{'ForecastWorkHours'|translate}}" inputType="text" [formGroup]="showPerformanceAssignedForm"
                [bgColor]="'bg-white-lightbone'" (change)="verifiedFormat('forecast')">
            </shared-input-field>

            <shared-input-field [readOnly]="true" class="w-full md:w-1/2" fieldName="ForecastTravelTime"
                label="{{'ForecastTravelTime'|translate}}" inputType="text" [formGroup]="showPerformanceAssignedForm"
                [bgColor]="'bg-white-lightbone'" (change)="verifiedFormat('forecast')">
            </shared-input-field>

            <shared-input-field [readOnly]="true" class="w-full md:w-1/2" fieldName="ForecastTravelExpenses"
                label="{{'ForecastTravelExpenses'|translate}}" inputType="text"
                [formGroup]="showPerformanceAssignedForm" [bgColor]="'bg-white-lightbone'"
                (change)="verifiedFormat('forecast')"></shared-input-field>

            <shared-input-field [readOnly]="true" class="w-full md:w-1/2" fieldName="Totalforecastdata"
                label="{{'Total de datos previstos'|translate}}" inputType="text"
                [formGroup]="showPerformanceAssignedForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
        </div>
    </form>

    <form [formGroup]="responsePerformanceForm" autocomplete="off" class="h-full px-10 py-2 w-full">
        <div class="flex flex-row space-x-3 text-darkslategray border-b mt-3 text-start">
            <h1>
                {{'FreeProfessional' | translate}}
            </h1>
        </div>
        <div class="flex flex-wrap">
            <shared-time-input-component class="w-full md:w-1/2" fieldName="FP_WorkHours"
                label="{{'WorkHours'|translate}}" [readOnly]="isViewer" inputType="time"
                [formGroup]="responsePerformanceForm" [bgColor]="'bg-white-lightbone'"
                (change)="verifiedFormat('freeProfessional')">
            </shared-time-input-component>

            <shared-time-input-component class="w-full md:w-1/2" fieldName="FP_TravelTime"
                label="{{'TravelTime'|translate}}" [readOnly]="isViewer" inputType="time"
                [formGroup]="responsePerformanceForm" [bgColor]="'bg-white-lightbone'"
                (change)="verifiedFormat('freeProfessional')">
            </shared-time-input-component>

            <shared-input-field class="w-full md:w-1/2" fieldName="FP_TravelExpenses" inputType="text"
                label="{{'TravelExpenses'|translate}}" [formGroup]="responsePerformanceForm"
                [bgColor]="'bg-white-lightbone'" [readOnly]="isViewer"
                (input)="verifiedFormat('freeProfessional')"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="Total_FP" inputType="text"
                label="{{'Total'|translate}}" [readOnly]="isViewer" [formGroup]="responsePerformanceForm"
                [bgColor]="'bg-white-lightbone'" [readOnly]="true"></shared-input-field>

            <div *ngIf="isWorkMore" class="flex flex-wrap items-center justify-center w-full space-y-3">
                <span *ngIf="!isViewer" class=" px-2 text-red-500 font-medium w-full">*Debes de justificar el aumento de
                    horas</span>

                <shared-input-field class="w-full md:w-1/2" fieldName="JustifyChangeEstimatedWorkHours"
                    label="{{'JustifyIncreaseinHours'|translate}}" inputType="text"
                    [formGroup]="responsePerformanceForm" [bgColor]="'bg-white-lightbone'"
                    [readOnly]="isViewer"></shared-input-field>

                <div class="flex flex-wrap items-center justify-center space-x-2 w-full md:w-1/2">
                    <input type="file" id="DocumentIncreaseWorkingHours" formControlName="DocumentIncreaseWorkingHours"
                        class="hidden" (change)="displayFileName()" [disabled]="!isViewer">
                    <label for="DocumentIncreaseWorkingHours" class="block text-gray-700 mb-1 cursor-pointer">
                        {{'justifyingDocument' | translate}}
                    </label>
                    <div class=" flex flex-col">
                        <label for="DocumentIncreaseWorkingHours"
                            class="cursor-pointer py-2 px-4 border hover:bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
                            {{'seleccionar_archivo' | translate}}
                        </label>
                    </div>
                    <span class="ml-2 text-darkslategray">{{this.DocumentIncreaseWorkingHours}}</span>
                </div>
            </div>
        </div>
    </form>

    <form [formGroup]="reviewPerformanceForm" autocomplete="off" class="h-full px-10 py-2 w-full">
        <div *ngIf="isReviewPerformance">
            <div class="flex flex-row space-x-3 text-darkslategray border-b mt-3 text-start">
                <h1>
                    {{'TechnicalDirector' | translate}}
                </h1>
            </div>
            <div class="flex flex-wrap justify-center items-center">
                <shared-input-field class="w-full md:w-1/2" [readOnly]="isViewer" fieldName="TD_Date"
                    label="{{'Date'|translate}}" inputType="date" [formGroup]="reviewPerformanceForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-time-input-component [readOnly]="isViewer" class="w-full md:w-1/2" fieldName="TD_WorkHours"
                    label="{{'WorkHours'|translate}}" inputType="time" [formGroup]="reviewPerformanceForm"
                    [bgColor]="'bg-white-lightbone'" (input)="verifiedFormat('technicalDirector')">
                </shared-time-input-component>

                <div class="w-full flex flex-row items-center justify-start space-x-3 py-3">
                    <input type="checkbox" id="AcceptIncreaseInHours" formControlName="AcceptIncreaseInHours">
                    <label class="pr-3" for="AcceptIncreaseInHours"> {{'Aceptar aumento de horas' | translate}}</label>
                </div>
            </div>
        </div>
    </form>

    <div class="flex flex-row justify-end space-x-2 py-3 font-medium">

        <button *ngIf="isAdmin || !userInfo" routerLink="/project-manager"
            class="p-2 bg-line text-darkslategray rounded-xl">
            {{'regresar' | translate}}
        </button>

        <button *ngIf="!isAdmin && userInfo" routerLink="/project-manager/assigned-performance"
            class="p-2 bg-line text-darkslategray rounded-xl">
            {{'regresar' | translate}}
        </button>
        <div *ngIf="!isViewer && !isAdmin">
            <shared-confirmation-button (click)="onSubmit()"
                [ButtonName]="'CreatePerformance'"></shared-confirmation-button>
        </div>

        <button *ngIf="userInfo" (click)="modifySubPerformance()" class="p-2 bg-darkslategray text-line rounded-xl">
            {{'Modified'|translate}}
        </button>

        <div *ngIf="isRevisedPerformance">
            <shared-confirmation-button (click)="validateSubPerformance()"
                [ButtonName]="'Review subperformance'"></shared-confirmation-button>
        </div>

    </div>
</div>