<div class="flex flex-col h-screen bg-white">
    <div class="flex-1 border-r-4 flex items-center justify-center bg-darkslategray">
        <div class="text-white flex flex-col items-center border-b-2 px-6">
            <h1 class="text-3xl font-bold mb-2">¡Bienvenido a nuestra página web!</h1>
            <p class="text-sm mb-2">Gracias por confiar en nosotros.</p>
        </div>
    </div>

    <div class="flex flex-1 flex-col space-y-2 p-2 ">
        <div class="">
            <a class="text-gray-500"> <i routerLink="/auth" class="fa-solid fa-chevron-left pr-1 text-yellow-500 hover:text-darkslategray cursor-pointer"></i>
                Regresar a iniciar sesión</a>
        </div>
        <div class="flex justify-center flex-col items-center">
            <p class="text-sm">¡Ahora selecciona tu tipo de registro!</p>
            <img src="/./assets/img/sitio-web.png" alt="" class="w-32">
        </div>
        <ul class="flex items-center justify-center space-x-4 text-gray-700 text-lg font-semibold">
            <li>
                <a class="inline-block px-4 py-2 text-white bg-yellow-500 hover:bg-yellow-300 rounded-full transition duration-300 ease-in-out"
                    routerLink="/onboarding/onboarding-register-claimant">
                    Reclamante
                </a>
            </li>
            <li>
                <a class="inline-block px-4 py-2 text-white bg-yellow-500 hover:bg-yellow-300 rounded-full transition duration-300 ease-in-out"
                    routerLink="/onboarding/onboarding-register-cfh">
                    CFH (Centro Formación Homologado)
                </a>
            </li>
            <li>
                <a class="inline-block px-4 py-2 text-white bg-yellow-500 hover:bg-yellow-300 rounded-full transition duration-300 ease-in-out"
                    routerLink="/onboarding/onboarding-register-free-professional">
                    Profesional Libre
                </a>
            </li>
            <li>
                <a class="inline-block px-4 py-2 text-white bg-yellow-500 hover:bg-yellow-300 rounded-full transition duration-300 ease-in-out"
                    routerLink="/onboarding/onboarding-register-sub-client">
                    Suscriptor /Cliente
                </a>
            </li>
        </ul>
    </div>
</div>