<div class="flex lg:flex-row md:flex-row flex-col" >
    <div class="flex-1 flex flex-col min-h-screen bg-white">
        <div class="absolute p-2">
            <a routerLink="/auth" class="text-darkslategray p-2 text-start b"> <i
                    class="fa-solid fa-chevron-left pr-1 cursor-pointer animate-pulse"></i>
                {{'regresar' | translate}}</a>
        </div>
        <div class="flex-1 flex flex-col bg-line justify-center items-center text-darkslategray">
            <h1 class="text-3xl font-bold mb-2">{{'titulo' | translate}}</h1>
            <p class="text-sm mb-2">{{'subTitulo' | translate}}</p>
        </div>

        <div class="bg-white border-black">
            <div class=" flex flex-col py-2 space-y-2">
                <div class="flex flex-col space-y-2">

                    <div class="w-full flex justify-end ">
                        <h1 class="text-darkslategray bg-yellow-500 rounded-l-full pl-3 py-1 pr-52"> <i
                                class="fa-solid fa-user text-darkslategray pr-3"></i>{{'usuarios'
                            | translate}}:
                        </h1>
                    </div>
                    <div class="w-full flex flex-col items-end space-y-2">
                        <button
                            class="pl-20 flex justify-end items-center text-darkslategray hover:bg-line rounded-l-full p-1  transition duration-300 ease-in-out"
                            routerLink="/onboarding/onboarding-register-claimant">
                            <i class="fa-solid fa-chevron-left pr-1 cursor-pointer animate-pulse"></i> {{'reclamante' |
                            translate}}
                        </button>

                        <button
                            class="pl-20 flex justify-end items-center text-darkslategray hover:bg-line rounded-l-full p-1  transition duration-300 ease-in-out"
                            routerLink="/onboarding/onboarding-register-sub-client">
                            <i class="fa-solid fa-chevron-left pr-1 cursor-pointer animate-pulse"></i>
                            {{'suscriptor_cliente' | translate}}
                        </button>
                    </div>
                </div>
                <div class="space-y-2">

                    <div class="w-full flex justify-start mr-2">
                        <h1 class=" text-darkslategray text-center pr-2 bg-yellow-500 rounded-r-full py-1 pl-52"> <i
                                class="fa-solid fa-user text-darkslategray pr-3"></i>{{'equipo_OSD'
                            | translate}}:
                        </h1>
                    </div>

                    <div class=" flex flex-col items-start space-y-2">

                        <button
                            class="pr-20 flex items-center text-darkslategray hover:bg-line rounded-r-full p-1  transition duration-300 ease-in-out"
                            routerLink="/onboarding/onboarding-register-cfh">
                            {{'CFH' | translate}} <i
                                class="fa-solid fa-chevron-right pl-1 cursor-pointer animate-pulse"></i>
                        </button>

                        <button
                            class="pr-20 flex items-center text-darkslategray hover:bg-line rounded-r-full p-1  transition duration-300 ease-in-out"
                            routerLink="/onboarding/onboarding-register-free-professional">
                            {{'profesional_libre' | translate}} <i
                                class="fa-solid fa-chevron-right pl-1 cursor-pointer animate-pulse"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="flex-1 bg-darkslategray flex justify-center items-center ">
        <shared-error-modal *ngIf="errorModalOpen$ | async"></shared-error-modal>
        <img src="/./assets/img/OSD.png" alt="Logo OSD" class="  ">
    </div>

</div>