<div class="flex px-10 py-2 flex-col-reverse items-start w-full">

    <div class="flex flex-col py-3 bg-white text-black w-full lg:w-full">
        <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" autocomplete="off" class="flex flex-wrap items-center ">
            <shared-simple-dropdown class="w-full md:w-1/2" fieldName="clientType" label="{{'type_client' | translate}}"
                [formGroup]="accountForm" [dropdownItems]="clientType" [selectedItem]="selectedClientType">
            </shared-simple-dropdown>
            <shared-input-field (click)="openModal()" [readOnly]="true" class="w-full md:w-1/2" fieldName="showCodepl"
                label="{{'cod_PL' | translate}}" [formGroup]="accountForm">
            </shared-input-field>

            <shared-input-field *ngIf="false" (click)="openModal()" [readOnly]="true" class="w-full md:w-1/2"
                fieldName="plCode" [formGroup]="accountForm">
            </shared-input-field>
        </form>

        <form [formGroup]="personalForm" (ngSubmit)="onSubmit()" autocomplete="off" class="flex flex-col space-y-3 p-2">
            <div class="flex flex-wrap items-center">

                <shared-input-field class="w-full md:w-1/2" fieldName="identity" label="{{'DNI' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="companyName"
                    label="{{'RazonSocial' | translate}}" inputType="text" [formGroup]="personalForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="name" label="{{'Name' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="firstSurname"
                    label="{{'primer_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="middleSurname"
                    label="{{'segundo_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="zipCode" label="{{'cod_postal' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="landline" label="{{'tel_fijo' | translate}}"
                    inputType="tel" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="mobilePhone" label="{{'tel_movil' | translate}}"
                    inputType="tel" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="web" label="{{'pagina_web' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="city" label="{{'Ciudad' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-simple-dropdown class="w-full md:w-1/2" fieldName="country" label="{{'pais' | translate}}"
                    [formGroup]="personalForm" [dropdownItems]="countries" [selectedItem]="selectedCountries">
                </shared-simple-dropdown>

                <shared-text-area class="w-full md:w-1/2" fieldName="address" label="{{'direccion' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-text-area>

                <!-- <div class="w-full md:w-1/1">
                        <div class="flex items-center justify-center flex-col space-y-1">
                            <label>{{ 'Contract' | translate }}</label>
                            <input type="file" id="fileInput" formControlName="fileInput" class="hidden" (change)="displayFileName($event)">
                            <label for="fileInput" class="cursor-pointer inline-flex items-center justify-center w-50 h-12 px-4 py-2 border-transparent text-base font-medium text-white bg-darkslategray shadow-lg">
                                {{'Select_File' | translate}}
                            </label>                            
                            <span>{{ documentName }}</span>
                        </div>
                    </div> -->

                <div class="flex flex-wrap text-black w-full my-2 py-3 ">
                    <div class="flex-1 flex flex-col  p-2 text-black space-y-4">
                        <h1 class="text-lg font-bold text-darkslategray">{{'iniciar_sesion' | translate}}:
                        </h1>
                        <span class="">{{'loginInRegister' | translate}}</span>
                    </div>
                </div>

                <shared-input-field class="w-full md:w-1/2" fieldName="email" label="{{'email' | translate}}"
                    inputType="email" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <auth-input-password class="w-full md:w-1/2" [formGroup]="personalForm" fieldName="password"
                    label="{{'contraseña' | translate}}"></auth-input-password>

                <input type="checkbox" id="acceptConditions" formControlName="acceptConditions">
                <label for="acceptConditions"> {{'aceptar_condiciones' | translate}}</label>
                <div *ngIf="!personalForm.value.acceptConditions" class="text-red-700 pl-1">
                    {{'error_condiciones' | translate}}
                </div>

                <div class="p-2 bg-white flex flex-wrap items-start">

                    <div class="display-flex m-2">
                        <a *ngIf="!showDocument"
                            class="font-medium  rounded-xl p-2 bg-darkslategray text-white animate__animated animate__fadeInDown w-50 m-2"
                            href="assets/contracts/20-6-24-Contrato-Suscriptor-Cliente.pdf" download>
                            {{'Contract' | translate }}
                        </a>
                        <a *ngIf="showDocument"
                            class="font-medium rounded-xl p-2 bg-darkslategray text-white animate__animated animate__fadeInDown w-50"
                            href="assets/contracts/20-6-24-DSO-Subscriber-Agreement.pdf" download>
                            {{'Contract' | translate }}
                        </a>
                    </div>

                </div>

            </div>
        </form>
    </div>

    <div class="flex flex-col items-center justify-center w-full">
        <div class="grid p-3">
            <h2 class="text-darkslategray font-bold justify-center text-center text-xl md:text-2xl">
                {{'Certificate_OSD_1500€'| translate }}</h2>

            <p class="text-darkslategray mb-2 justify-center text-center font-bold">
                {{'Management_of_complaints_and_suggestions_for_improvement'| translate }}</p>
            <p class="text-darkslategray mb-2 justify-center text-center font-bold">1500€</p>
            <div class="p-2 bg-white flex flex-col items-center">
                <p class="text-darkslategray mb-2 font-bold">{{'Video_Certificate_OSD'| translate }}</p>
                <button
                    class="p-2 rounded-xl bg-darkslategray text-white font-medium animate__animated animate__fadeInDown w-10/12"
                    (click)="openVideo()"><i class="fa-solid fa-camera"></i>
                    {{'Watch_Video'| translate }}
                </button>
            </div>
            <div class="p-2 bg-white flex flex-col items-center">
                <p class="text-darkslategray mb-2 font-bold">{{'Payment_TPV'| translate }}</p>
                <button
                    class="p-2 bg-darkslategray rounded-xl text-white font-medium animate__animated animate__fadeInDown w-10/12"
                    (click)="makeAPurchase()"><i class="fa-solid fa-money-bill"></i>
                    {{'Paid_link'| translate }}
                </button>
            </div>

            <h2 class="text-darkslategray font-bold justify-center text-center text-xl md:text-2xl">
                {{'Solutions_OSD'| translate }}</h2>
            <div class="p-2 bg-white flex flex-col items-center">
                <div class="flex flex-col">
                    <p class="text-darkslategray mb-2">- {{'Query_Simple_95€'| translate }}</p>
                    <p class="text-darkslategray mb-2">- {{'Sustainability_report_450€'| translate }}</p>
                    <p class="text-darkslategray mb-2">- {{'Mediation_Arbitration_750€'| translate }}</p>
                </div>
                <button
                    class="p-2 rounded-xl bg-darkslategray text-white font-medium animate__animated animate__fadeInDown w-10/12"
                    (click)="openVideoSolutionsOsd()"><i class="fa-solid fa-camera"></i>
                    {{'Watch_Video'| translate }}
                </button>
            </div>
            <div class="p-2 bg-white flex flex-col items-center">
                <p class="text-darkslategray mb-2 font-bold">{{'Payment_TPV'| translate }}</p>
                <button
                    class="p-2 rounded-xl bg-darkslategray text-white font-medium animate__animated animate__fadeInDown w-10/12"
                    (click)="makeAPurchaseSolutionsOsd()"><i class="fa-solid fa-money-bill"></i>
                    {{'Paid_link'| translate }}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-wrap justify-end items-center space-x-3 p-2 w-full">
    <button routerLink="/onboarding/onboarding-register"
        class="p-2 bg-line text-darkslategray font-medium animate__animated animate__fadeInDown rounded-xl">
        {{'cancelar' | translate}}
    </button>

    <button type="submit" (click)="onSubmit()"
        class="p-2 bg-darkslategray text-white font-medium animate__animated animate__fadeInDown rounded-xl">
        {{'registrarse' | translate}}
    </button>
</div>

<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto">
    <div class="bg-opacity-75 bg-black absolute inset-0 "></div>
    <div class="relative z-50 bg-white shadow-md space-y-1 rounded-xl p-3">
        <div class="justify-center">
            <div class="p-3 flex flex-col items-center">
                <div class="flex flex-col space-y-3">
                    <h1>Ingresa el codigo del Professional Libre:</h1>
                    <input (input)="verifiedProfessionalFree($event)"
                        class="text-black block border-solid border w-full p-2 pr-3 focus:outline-none focus:border-blue-950"
                        type="text">
                    <div *ngIf="freeProfessionalExists" class="text-center text-green-500">
                        <span>El professional Libre si existe</span>
                    </div>
                </div>
                <div class=" font-medium p-3 rounded-xl cursor-pointer space-x-3">
                    <a (click)="eliminatedProfessionalFree()"
                        class="items-center text-darkslategray bg-line rounded-xl p-2">
                        {{ 'cancelar' | translate }}
                    </a>
                    <a *ngIf="freeProfessionalExists" (click)="closeModal()"
                        class="items-center text-line bg-darkslategray rounded-xl p-2">
                        {{ 'confirm' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>