<div class="justify-center items-center">
    <div class="flex justify-start items-center border">
        <div class="flex flex-row px-2 items-center text-darkslategray">
            <img src="/./assets/img/OSD.png" alt="Logo OSD" class="w-10">
            <h1 class="text-4xl p-3">{{'suscriptor_cliente' | translate}}</h1>
        </div>
    </div>
</div>

<div class="flex px-10 py-2 flex-col items-start lg:flex-row w-full">

    <div class="flex flex-col py-3 bg-white text-black w-full lg:w-full">

        <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" autocomplete="off" class="flex flex-wrap items-center ">
            <shared-simple-dropdown class="w-full md:w-1/2" fieldName="clientType"
                label="{{'type_client' | translate}}" [formGroup]="accountForm" [dropdownItems]="clientType"
                [selectedItem]="selectedClientType">
            </shared-simple-dropdown>
            <shared-simple-dropdown class="w-full md:w-1/2" fieldName="plCode" label="{{'cod_PL' | translate}}"
                [formGroup]="accountForm" [dropdownItems]="plCode" [selectedItem]="selectedPLcode">
            </shared-simple-dropdown>
        </form>

        <form [formGroup]="personalForm" (ngSubmit)="onSubmit()" autocomplete="off" class="flex flex-col space-y-3 p-2">
            <div class="flex flex-wrap items-center">

                <shared-input-field class="w-full" fieldName="identity" label="{{'DNI' | translate}}*"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="companyName" label="{{'RazonSocial' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="name" label="{{'name' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="firstSurname"
                    label="{{'primer_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="middleSurname"
                    label="{{'segundo_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="zipCode" label="{{'cod_postal' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="landline" label="{{'tel_fijo' | translate}}"
                    inputType="tel" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="mobilePhone" label="{{'tel_movil' | translate}}"
                    inputType="tel" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="web" label="{{'pagina_web' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="city" label="{{'Ciudad' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/2" fieldName="country" label="{{'pais' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/1" fieldName="address" label="{{'direccion' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                    <!-- <div class="w-full md:w-1/1">
                        <div class="flex items-center justify-center flex-col space-y-1">
                            <label>{{ 'Contract' | translate }}</label>
                            <input type="file" id="fileInput" formControlName="fileInput" class="hidden" (change)="displayFileName($event)">
                            <label for="fileInput" class="cursor-pointer inline-flex items-center justify-center w-50 h-12 px-4 py-2 border-transparent text-base font-medium text-white bg-darkslategray shadow-lg">
                                {{'Select_File' | translate}}
                            </label>                            
                            <span>{{ documentName }}</span>
                        </div>
                    </div> -->

                <div class="flex flex-wrap text-black w-full my-2 py-3 ">
                    <div class="flex-1 flex flex-col  p-2 text-black space-y-4">
                        <h1 class="text-lg font-bold text-darkslategray">{{'iniciar_sesion' | translate}}:
                        </h1>
                        <span class="">{{'loginInRegister' | translate}}</span>
                    </div>
                </div>

                <shared-input-field class="w-full md:w-1/2" fieldName="email" label="{{'email' | translate}}"
                    inputType="email" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <auth-input-password class="w-full md:w-1/2" [formGroup]="personalForm" fieldName="password"
                    label="{{'contraseña' | translate}}"></auth-input-password>

                <input type="checkbox" id="acceptConditions" formControlName="acceptConditions">
                <label for="acceptConditions"> {{'aceptar_condiciones' | translate}}</label>
                <div *ngIf="!personalForm.value.acceptConditions" class="text-red-700 pl-1">
                    {{'error_condiciones' | translate}}
                </div>

                <div class="p-2 bg-white flex flex-wrap items-start">
                    
                    <div class="display-flex m-2">
                        <a
                        class="p-3 bg-darkslategray text-white font-normal animate__animated animate__fadeInDown w-50 m-2"
                        href="assets/contracts/18-2-24-Contrato-Suscriptor-Cliente.pdf" download>
                        <i class="fa-solid fa-download"></i>
                        {{'Contract' | translate }} (Español)
                    </a>
                    <a
                        class="p-3 bg-darkslategray text-white font-normal animate__animated animate__fadeInDown w-50"
                        href="assets/contracts/18-2-24-DSO-Subscriber-Agreement-3.pdf" download>
                        <i class="fa-solid fa-download"></i>
                        {{'Contract' | translate }} (Ingles)
                    </a>
                    </div>

                </div>

            </div>
        </form>

        <div class="flex flex-wrap justify-end items-center space-x-4 p-2">
            <button routerLink="/onboarding/onboarding-register"
                class="p-4 bg-line text-darkslategray font-medium animate__animated animate__fadeInDown">
                {{'cancelar' | translate}}
            </button>
        
            <button type="submit" (click)="onSubmit()"
                class="p-4 bg-darkslategray text-white font-medium animate__animated animate__fadeInDown">
                {{'registrarse' | translate}}
            </button>
        </div>

    </div>

    <div class="flex flex-col justify-center mx-4 md:mx-6 my-2 lg:w-1/3 border">
        <br>

        <div class="grid justify-center items-center h-full w-full">

            <div class="grid grid-cols-1 gap-4 justify-center items-center">

                <h2 class="text-darkslategray font-bold justify-center text-center text-xl md:text-2xl">
                    {{'Certificate_OSD_1500€'| translate }}</h2>

                    <p class="text-darkslategray mb-2 justify-center text-center font-bold">{{'Management_of_complaints_and_suggestions_for_improvement'| translate }}</p>
                    <p class="text-darkslategray mb-2 justify-center text-center font-bold">{{'1500€'| translate }}</p>
                <div class="p-2 bg-white flex flex-col items-center">
                    <p class="text-darkslategray mb-2 font-bold">{{'Video_Certificate_OSD'| translate }}</p>
                    <button
                        class="p-3 bg-darkslategray text-white font-normal animate__animated animate__fadeInDown w-10/12"
                        (click)="openVideo()"><i class="fa-solid fa-camera"></i>
                        {{'Watch_Video'| translate }}
                    </button>
                </div>

                <div class="p-2 bg-white flex flex-col items-center">
                    <p class="text-darkslategray mb-2 font-bold">{{'Payment_TPV'| translate }}</p>
                    <button
                        class="p-3 bg-darkslategray text-white font-normal animate__animated animate__fadeInDown w-10/12"
                        (click)="makeAPurchase()"><i class="fa-solid fa-money-bill"></i>
                        {{'Paid_link'| translate }}
                    </button>
                </div>

                <br>

                <h2 class="text-darkslategray font-bold justify-center text-center text-xl md:text-2xl">
                    {{'Solutions_OSD'| translate }}</h2>
                <div class="p-2 bg-white flex flex-col items-center">
                    <div class="flex flex-col">
                        <p class="text-darkslategray mb-2">{{'-Query_Simple_95€'| translate }}</p>
                        <p class="text-darkslategray mb-2">{{'-Sustainability_report_450€'| translate }}</p>
                        <p class="text-darkslategray mb-2">{{'-Mediation_Arbitration_750€'| translate }}</p>
                    </div>
                    <button
                        class="p-3 bg-darkslategray text-white font-normal animate__animated animate__fadeInDown w-10/12"
                        (click)="openVideoSolutionsOsd()"><i class="fa-solid fa-camera"></i>
                        {{'Watch_Video'| translate }}
                    </button>
                </div>

                <div class="p-2 bg-white flex flex-col items-center">
                    <p class="text-darkslategray mb-2 font-bold">{{'Payment_TPV'| translate }}</p>
                    <button
                        class="p-3 bg-darkslategray text-white font-normal animate__animated animate__fadeInDown w-10/12"
                        (click)="makeAPurchaseSolutionsOsd()"><i class="fa-solid fa-money-bill"></i>
                        {{'Paid_link'| translate }}
                    </button>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>