<div class="flex bg-darkslategray">
    <img src="/./assets/img/OSD.png" alt="Logo OSD" class="w-16">
</div>
<div class="flex px-10 py-2">
    <div class="flex py-3 bg-white text-black flex-col">
        <form [formGroup]="personalForm" (ngSubmit)="onSubmit()" autocomplete="off"
            class="p-2 flex-1 flex flex-wrap items-center">
            <div class="w-full">
                <h1 class="border-b text-darkslategray text-lg font-medium">Informacion Personal</h1>
            </div>

            <shared-input-field class="w-full md:w-1/2" fieldName="identity" label="{{'DNI' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="companyName" label="{{'RazonSocial' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="name" label="{{'name' | translate}}" inputType="text"
                [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="firstSurname"
                label="{{'primer_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="middleSurname"
                label="{{'segundo_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="zipCode" label="{{'cod_postal' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="landline" label="{{'tel_fijo' | translate}}"
                inputType="tel" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="mobilePhone" label="{{'tel_movil' | translate}}"
                inputType="tel" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="web" label="{{'pagina_web' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="city" label="{{'Ciudad' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="country" label="{{'pais' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="address" label="{{'direccion' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

        </form>
        <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" autocomplete="off" class="p-2 flex-1 flex flex-col ">
            <h1 class="border-b text-darkslategray text-lg font-medium">{{'CFH (Centro Formación Homologado) '|
                translate }}</h1>
            <shared-simple-dropdown class="w-full md:w-1/2" fieldName="clientType" label="{{'clientType' | translate}}"
                [formGroup]="accountForm" [dropdownItems]="entity" [selectedItem]="selectedEntity">
            </shared-simple-dropdown>
            <div class="flex flex-col items-start space-y-3">
                <div class="bg-white flex flex-row items-center space-x-1">
                    <p class="text-darkslategray  font-bold">{{'Video_CFH'| translate }}:</p>
                    <button class="text-red-500 font-normal animate__animated animate__fadeInDown hover:underline"
                        (click)="openVideoCFH()">
                        https://youtu.be/YdyriLrWjpc
                    </button>
                </div>
            </div>
        </form>

        <form [formGroup]="personalForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="flex flex-col lg:flex-row items-center">
                <div class="flex flex-wrap text-black w-full my-2 py-3 ">
                    <div class="flex-1 flex flex-col p-2 text-black space-y-4">
                        <h1 class="text-lg font-bold text-darkslategray">{{'iniciar_sesion' | translate}}:
                        </h1>
                        <span class="">{{'loginInRegister' | translate}}</span>
                    </div>
                </div>
                <shared-input-field class="w-full" fieldName="email" label="{{'email' | translate}}" inputType="email"
                    [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                <auth-input-password class="w-full px-1" [formGroup]="personalForm" fieldName="password"
                    label="{{'contraseña' | translate}}"></auth-input-password>
            </div>

            <div class="p-2 flex flex-col space-y-3">
                <div class=" bg-white flex flex-col lg:flex-row lg:items-center lg:space-x-3">
                    <h1 class="text-darkslategray font-bold">Contrato Centro de Formación Homologado:</h1>
                    <div class="flex flex-row items-center space-x-3">
                        <a *ngIf="!showDocument" class="p-2  bg-darkslategray text-line rounded-lg font-normal animate__animated animate__fadeInDown"
                            href="assets/contracts/8-4-24-Contrato-CFH-Centro-Formacion-Homologado.pdf" download><i class="fa-solid fa-download animate-pulse"></i>
                            {{'Contract'| translate }}
                        </a>
                        <a *ngIf="showDocument" class="p-2  bg-darkslategray text-line rounded-lg font-normal animate__animated animate__fadeInDown"
                            href="assets/contracts/8-4-24-DSO-Training-Center-Agreement-.pdf" download><i class="fa-solid fa-download animate-pulse"></i>
                            {{'Contract'| translate }}
                        </a>
                        <!-- <div class="flex items-center justify-center flex-col space-y-1">
                        <input type="file" id="fileInput" class="hidden" (change)="displayFileContract($event)">
                        <label for="fileInput"
                            class="cursor-pointer items-center justify-center p-2 rounded-lg  text-base font-medium text-white bg-darkslategray shadow-lg">
                            <i class="fa-solid fa-upload animate-pulse"></i> Subir contrato
                        </label>
                        <span>{{ documentName }}</span>
                    </div> -->
                    </div>
                </div>
                <div class="flex flex-col space-x-1 w-full">
                    <div>
                        <input type="checkbox" id="acceptConditions" formControlName="acceptConditions">
                        <label for="acceptConditions"> {{'aceptar_condiciones' | translate}}</label>
                    </div>

                    <div *ngIf="!personalForm.value.acceptConditions" class="text-red-700 pl-1">
                        {{'error_condiciones' | translate}}
                    </div>
                </div>
            </div>
        </form>

        <div class="flex flex-wrap justify-end items-center space-x-4 p-2">
            <button routerLink="/onboarding/onboarding-register"
                class="p-3 rounded-lg bg-line text-darkslategray font-medium animate__animated animate__fadeInDown">
                {{'cancelar' | translate}}
            </button>
            <button type="submit" (click)="onSubmit()"
                class="p-3 rounded-lg bg-darkslategray text-white font-medium animate__animated animate__fadeInDown">
                {{'registrarse' | translate}}
            </button>
        </div>
    </div>
</div>