<div class="flex flex-col justify-center items-end px-10 py-2">
    <div class="flex flex-col py-3 bg-white text-darkslategray border rounded-xl shadow-2xl">

        <div class="flex flex-row px-2 items-center">
            <img src="/./assets/img/OSD.png" alt="Logo OSD" class="w-10">
            <h1 class="text-4xl p-3">Registro CFH (Centro Formación Homologado)
            </h1>
        </div>
        <div class="pl-3 py-2 space-x-5 border bg-darkslategray text-white">
            <a routerLink="/onboarding/onboarding-register-claimant" routerLinkActive="text-yellow-500"
                class="pointer-events-none text-sm"><i class="fa-solid fa-circle"></i> Reclamante</a>
            <a routerLink="/onboardisng/onboarding-register-claimant" routerLinkActive="text-yellow-500"
                class="pointer-events-none text-sm"><i class="fa-solid fa-circle"></i> Cliente</a>
            <a routerLink="/onboardisng/onboarding-register-claimant" routerLinkActive="text-yellow-500"
                class="pointer-events-none text-sm"><i class="fa-solid fa-circle"></i> Profesional Libres</a>
            <a routerLink="/onboarding/onboarding-register-cfh" routerLinkActive="text-yellow-500"
                class="pointer-events-none text-sm"><i class="fa-solid fa-circle"></i> CFH</a>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off" class="flex flex-col space-y-3 p-2">

            <div class="flex flex-wrap items-center">
                <shared-simple-dropdown class="w-full md:w-1/3" fieldName="entity" label="Entidad*"
                    [formGroup]="registerForm" [dropdownItems]="entity" [selectedItem]="selectedEntity">
                </shared-simple-dropdown>

                <shared-input-field class="w-full md:w-1/3" fieldName="identity" label="CIF/ D.N.I/ PASAPORTE*"
                    inputType="text" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/3" fieldName="name" label="Nombre*" inputType="text"
                    [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/3" fieldName="firstSurname" label="Primer Apellido*"
                    inputType="text" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/3" fieldName="middleSurname" label="Segundo apellido*"
                    inputType="text" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/3" fieldName="landline" label="Landline" inputType="tel"
                    [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/3" fieldName="mobilePhone" label="Mobile Phone*"
                    inputType="tel" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/3" fieldName="email" label="Email*" inputType="email"
                    [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/3" fieldName="web" label="Web" inputType="text"
                    [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/3" fieldName="country" label="Country" inputType="text"
                    [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-input-field class="w-full md:w-1/3" fieldName="zipCode" label="Zip Code" inputType="number"
                    [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

                <shared-text-area class="w-full md:w-2/5" fieldName="address" label="Address*" inputType="text"
                    [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-text-area>
            </div>
            <div class="pt-2 flex flex-row space-x-2">
                <input type="checkbox" id="acceptConditions" formControlName="acceptConditions">
                <label for="acceptConditions"> Acepto las Condiciones</label>
                <div *ngIf="!registerForm.value.acceptConditions" class="text-red-700 pl-1">
                    Debes aceptar las condiciones.
                </div>
            </div>
        </form>
    </div>
    <div class="flex flex-wrap justify-end items-center space-x-2 p-1">
        <button routerLink="/auth" class="p-2  bg-darkslategray text-white rounded-lg  hover:bg-hover-darkblue"
            i18n="@@signin">
            Cancelar
        </button>
        <button type="submit" (click)="onSubmit()"
            class="p-2 bg-yellow-500 text-white  rounded-lg hover:bg-hover-darkblue" i18n="@@signin">
            Registrarse
        </button>
    </div>
</div>