<div class="relative w-full my-1 p-1" [formGroup]="formGroup">
  <div>
    <label for="" >{{ label }}</label>
  </div>
  <input
    [ngClass]="[
      bgColor,
      'placeholder:text-darkgray text-black block border-solid border w-full p-2  pr-3  focus:outline-none focus:border-blue-950'
    ]"
    [formControlName]="fieldName"
    [name]="fieldName"
    [id]="fieldName"
    [type]="inputType"
    [readOnly]="readOnly"
    (blur)="blurEvent.emit()"
  />
  <p class="mt-2 text-sm text-red-700" *ngIf="isValidField(fieldName); else hidden">
    {{ getFieldError(fieldName) }}
  </p>
  <ng-template #hidden>
    <p class=" text-sm">&nbsp;</p>
  </ng-template>
</div>
