<div class="flex flex-col py-3 space-y-3">
    <div class="text-darkslategray text-start py-3 text-xl font-medium animate__animated animate__fadeInLeft">
        <span class="pl-5 pr-3 py-1 bg-yellow-500 rounded-r-full whitespace-nowrap overflow-hidden">
            {{'file_claim' | translate}} <i class="fa-solid fa-project-diagram"></i></span>
    </div>
    <div class="w-full flex flex-col items-center space-y-3 font-medium">
        <h1 class="text-center text-darkslategray text-xl">{{'claims' | translate}}</h1>
        <div class="flex-1 flex justify-center w-full p-3">
            <table class="w-full">
                <thead>
                    <tr class="text-darkslategray">
                        <th class="py-2 px-4 font-normal"></th>
                        <th class="py-2 px-4 font-normal">{{'Code_claim' | translate}}</th>
                        <th class="py-2 px-4 font-normal">{{'SubscriberCustomer' | translate}}</th>
                        <th class="py-2 px-4 font-normal">{{'facts' | translate}}</th>
                        <th class="py-2 px-4 font-normal">{{'status' | translate}}</th>
                        <th class="py-2 px-4 font-normal">{{'Date' | translate}}</th>
                    </tr>
                </thead>
                <ng-container *ngIf="claims">
                    <tbody>
                        <tr *ngFor="let claim of displayedItems; let i = index" class="my-5">
                            <td class="p-2 border-y text-center">
                                <span (click)="selectClaim(claim)" routerLink="/functions/file-manager"
                                    class="font-medium text-darkslategray px-4 py-2 text-lg cursor-pointer"><i class="fa-solid fa-eye"></i></span>
                            </td>
                            <td class="p-2 border-y text-center">{{claim.code}}</td>
                            <td class="p-2 border-y text-center">{{claim.name}}</td>
                            <td class="p-2 border-y text-center">{{claim.facts | truncate:100}}</td>
                            <td class="p-2 border-y text-center"> <i class="fa-solid fa-circle pr-3"
                                    [ngClass]="{'text-red-500' : claim.status == 'Unassigned',
                                                'text-yellow-500' : claim.status == 'Running',
                                                'text-green-500' : claim.status == 'Completed',
                                                'text-blue-500' : claim.status == 'Falta Información'}"></i>{{ claim.status | translate }}</td>
                            <td class="p-2 border-y text-center">{{ claim.datecreated | date:'medium' }}</td>
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>
        <mat-paginator [length]="claims.length" [pageSize]="5" (page)="onPageChange($event)"></mat-paginator>
        <button class="absolute bottom-3 right-3 text-darkslategray bg-line p-2 rounded-xl " routerLink="/home">
        {{'regresar' | translate }}
        </button>
    </div>
</div>