<div class="flex justify-center flex-col space-y-2 ">
  <div class="text-xl font-medium text-darkslategray px-5  text-center">
      <h1 class="">Autorizar Subscriptores Clientes</h1>
  </div>
  <shared-confirmation-modal [showModal]="showModalConfirm" [message]="messageModal"
      (confirm)="onConfirmHandler()"
      (cancel)="onCancelHandler()">
  </shared-confirmation-modal>
  <div class="flex justify-center flex-col ">
      <div class="overflow-x-auto">
          <table class="table-auto w-full">
              <thead>
                  <tr class="bg-line text-black">
                      <th class="px-4 py-2">{{'DNI' | translate}}</th>
                      <th class="px-4 py-2">{{'suscriptor_cliente' | translate}} </th>
                      <th class="px-4 py-2">Estado</th>
                      <th class="px-4 py-2">Datos</th>                      
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of displayedItems">
                      <td class="text-center border-y px-4 py-2">{{ item.field1 }}</td>
                      <td class="text-center border-y px-4 py-2">{{ item.field2 }}</td>
                      <td class="text-center border-y px-4 py-2"><span class=" text-green-600 font-medium">Autorizado</span></td>
                      <td class="text-center space-x-2 border-y px-4 py-2">
                          <button class="outline-none underline text-darkslategray text-sm">Ver datos</button>
                          <!-- <button class="px-2 py-1.5 text-white bg-darkslategray rounded-full" (click)="showModal()"
                              title="Autorizar">
                              <i class="fa-solid fa-user-check"></i>
                          </button>
                          <button class="px-2 py-1.5 text-black bg-line rounded-full" title="Denegar">
                              <i class="fa-solid fa-user-xmark "></i>
                          </button> -->
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <mat-paginator [length]="items.length" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>