<div class="relative w-full my-1 " [formGroup]="formGroup">
    <div>
        <div [ngClass]="[bgColor,]">
            <label for="" class="text-darkgray">{{ label }}</label>
        </div>
        <button type="button"
            class="text-center placeholder:bg-gray-200 text-black block bg-gray-100 border-solid border w-full p-2  pr-3 rounded-md shadow-sm focus:outline-none focus:border-blue-950"
            [ngClass]="[bgColor, isDropdownOpen ? 'border-ligthgray' : '']" [id]="fieldName" (click)="toggleDropdown()">
            {{ selectedItem ? (selectedItem) : label }}
            <svg class="float-right -mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div>

    <div *ngIf="isDropdownOpen"
        class="visible-element absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
            <a *ngFor="let item of dropdownItems; let i = index" class="cursor-pointer text-gray-700 block px-4 py-2 text-md"
                role="menuitem" tabindex="-1" [id]="'menu-item-' + i" (click)="toggleDropdown(item)">{{ item.value }}</a>

        </div>
    </div>

    <p class="mt-2 text-sm text-red-700" *ngIf="dropdownError && !isDropdownOpen">
      {{label}}  {{'es_requerido' | translate}}
    </p>
     <p class="mt-2 text-sm text-red-700" *ngIf="!dropdownError || isDropdownOpen">
        &nbsp; 
    </p>

</div>