<div class="relative w-full my-1 px-1 justify-center flex flex-col items-center space-y-3" [formGroup]="formGroup">
    <div class="flex flex-row space-x-3 items-center">
        <label for="">{{ label | translate }}</label>
    </div>

    <div class="flex flex-col space-y-3 items-center">
        <div *ngIf="!fileName; else existsFile">
            <input [ngClass]="[
                bgColor,
                'placeholder:text-darkgray text-black block border-solid border w-full p-2 pr-3 focus:outline-none focus:border-blue-950'
            ]" [name]="fieldName" [id]="fieldName" type="file" [readOnly]="readOnly" (change)="onFileSelected($event)"
                (blur)="blurEvent.emit()" />
        </div>
        <ng-template #existsFile>
            <div class="flex flex-col space-y-3 items-center">
                <span>{{ fileName }}</span>
                <div class="flex flex-row space-x-3">
                    <button type="button" class="cursor-pointer p-2 text-sm bg-darkslategray text-white rounded-xl"
                        (click)="downloadSelectedFile()">
                        {{ 'Download' | translate }}
                    </button>

                    <button *ngIf="isModified" type="button"
                        class="cursor-pointer p-2 text-sm bg-darkslategray text-white rounded-xl"
                        (click)="modifySelectedFile()">
                        {{ 'Modified' | translate }}
                    </button>
                </div>
            </div>
        </ng-template>
        <p class="mt-2 text-sm text-red-500" *ngIf="isValidField(fieldName); else hidden">
            {{ getFieldError(fieldName) }}
        </p>
        <ng-template #hidden>
            <p class="text-sm">&nbsp;</p>
        </ng-template>
    </div>
</div>