<div class="relative w-full my-1 px-1 justify-center flex flex-col items-center space-y-3" [formGroup]="formGroup">
    <div class="flex flex-row space-x-3 items-center">
        <label for="">{{ label | translate }}</label>
    </div>

    <div class="flex flex-col space-y-3 items-center">
        <div *ngIf="!isModified && fileId === ''; else existsFile">
            <div class="flex flex-row space-x-3 items-center border pr-3 rounded-xl">
                <button type="button" class="cursor-pointer p-2 text-sm bg-darkslategray text-line rounded-xl"
                    (click)="fileInput.click()">
                    {{ 'Select_File' | translate }}
                </button>
                <span class="ml-2 font-medium text-sm text-gray-700">{{ fileName ? fileName : ('NO_FILE_SELECTED' | translate) }}</span>
                <input #fileInput type="file" class="hidden" (change)="onFileSelected($event)" />
            </div>
        </div>
        <ng-template #existsFile>
            <div class="flex flex-col space-y-3 items-center">
                <span>{{ fileName }}</span>
                <div class="flex flex-row space-x-3">
                    <button type="button" class="cursor-pointer p-2 text-sm bg-darkslategray text-white rounded-xl"
                        (click)="downloadSelectedFile()">
                        {{ 'Download' | translate }}
                    </button>

                    <button *ngIf="isModified" type="button"
                        class="cursor-pointer p-2 text-sm bg-darkslategray text-white rounded-xl"
                        (click)="modifySelectedFile()">
                        {{ 'Modified' | translate }}
                    </button>
                </div>
            </div>
        </ng-template>
        <p class="mt-2 text-sm text-red-500" *ngIf="isValidField(fieldName); else hidden">
            {{ getFieldError(fieldName) }}
        </p>
        <ng-template #hidden>
            <p class="text-sm">&nbsp;</p>
        </ng-template>
    </div>
</div>
