<div class="flex justify-center items-center flex-col p-2 space-y-3">

    <div class="w-full">
        <h1 class="text-darkslategray text-2xl border-b">Reclamaciones</h1>
    </div>

    <div class="flex flex-wrap items-center space-x-2 w-full">

        <div class="flex-1  flex justify-center">
            <table class="">
                <thead>
                    <tr class="">
                        <th class="py-2 px-4 font-normal">Claim ID</th>
                        <th class="py-2 px-4 font-normal">Claim Type</th>
                    </tr>
                </thead>
                <ng-container *ngIf="(claims$ | async) as claims">
                    <tbody>
                      <tr *ngFor="let claim of claims">
                        <td class="p-2 border-y text-center text-yellow-500 cursor-pointer hover:text-line"
                            (click)="selectClaim(claim.id)">
                          {{ claim.id }}
                        </td>
                        <td class="p-2 border-y text-center">{{ claim.claimType }}</td>
                      </tr>
                    </tbody>
                  </ng-container>
            </table>
        </div>
        <div class="flex-1  flex flex-col items-center justify-center space-y-3">

            <h1 class="text-darkslategray text-lg border-b">Elige una Reclamacion <i class="fa-regular fa-hand-pointer"></i></h1>
            <span class="animate__animated animate__fadeInDown">{{claimId}}</span>
            <button *ngIf="claimId != null" class=" p-2 text-white bg-darkslategray space-x-2 flex items-center animate__animated animate__fadeInDown"
                routerLink="/home/performance">
                <span>{{'newAction' | translate }}</span> <i
                    class="fa-solid fa-chevron-right text-base animate-pulse"></i>
            </button>
        </div>
    </div>

</div>
<div class="w-full absolute bottom-4 pl-4">
    <button class="flex items-center " routerLink="/home">
        <i class="fa-solid fa-chevron-left animate-pulse pr-2 text-darkslategray"></i>{{'regresar_a_iniciar_sesión' |
        translate }}
    </button>
</div>