<div class="flex flex-col justify-center">
    <div
        class="w-full text-darkslategray text-start py-3 text-xl font-medium space-x-3 animate__animated animate__fadeInLeft">
        <span class="pl-5 pr-3 py-1 bg-yellow-500 rounded-r-full whitespace-nowrap overflow-hidden">
            {{'TitlePerformance' | translate}}</span>
    </div>
    <form [formGroup]="performanceForm" autocomplete="off" class="px-10 py-2">

        <div class="flex flex-wrap items-center">
            <shared-input-field class="w-full md:w-1/2" fieldName="Start_Date" label="{{'start_date'|translate}}"
                inputType="date" [formGroup]="performanceForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="End_Date" label="{{'end_date'|translate}}"
                inputType="date" [formGroup]="performanceForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field (click)="openModal()" class="w-full md:w-1/2" fieldName="FreeProfessionalCode"
                label="{{'Asignar Profesional Libre'|translate}}" [formGroup]="performanceForm">
            </shared-input-field>

            <shared-input-field *ngIf="false" class="w-full md:w-1/2" fieldName="FreeProfessionalAssignedId"
                [formGroup]="performanceForm">
            </shared-input-field>

            <shared-simple-dropdown class="w-full md:w-1/2" fieldName="SummaryId" label="{{'Summary'|translate}}"
                inputType="text" [formGroup]="performanceForm" [selectedItem]="selectedSummaryType"
                [dropdownItems]="summaryTypes" [bgColor]="'bg-white-lightbone'"></shared-simple-dropdown>

            <div class="flex flex-col items-center justify-center space-x-2 w-full">
                <input type="file" id="JustifyingDocument" formControlName="JustifyingDocument" class="hidden"
                    (change)="displayFileName()" [disabled]="!editOtherInformation">
                <label for="JustifyingDocument" class="block text-gray-700 mb-1 cursor-pointer">
                    {{'justifyingDocument' | translate}}
                </label>
                <div class=" flex flex-col">
                    <label for="JustifyingDocument"
                        class="cursor-pointer py-2 px-4 border hover:bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
                        {{'seleccionar_archivo' | translate}}
                    </label>
                </div>
                <span class="ml-2 text-darkslategray">{{this.justifyingDocument}}</span>
            </div>

        </div>
        <div class="flex flex-row space-x-3 text-darkslategray border-b mt-3 text-start p-2 ">
            <h1>
                {{'ForecastData' | translate}}
            </h1>
            <span class="">(Formato de horas deber ser 0:00)</span>
        </div>
        <div class="flex flex-wrap pt-3">
            <shared-time-input-component class="w-full md:w-1/2" fieldName="ForecastWorkHours" label="{{'ForecastWorkHours'|translate}}"
                inputType="time" [formGroup]="performanceForm" [bgColor]="'bg-white-lightbone'"
                (input)="verifiedFormat('forecast')">
            </shared-time-input-component>

            <shared-time-input-component class="w-full md:w-1/2" fieldName="ForecastTravelTime" label="{{'ForecastTravelTime'|translate}}"
                inputType="time" [formGroup]="performanceForm" [bgColor]="'bg-white-lightbone'"
                (input)="verifiedFormat('forecast')">
            </shared-time-input-component>
 
            <shared-input-field class="w-full md:w-1/2" fieldName="ForecastTravelExpenses"
                label="{{'ForecastTravelExpenses'|translate}}" inputType="number" [formGroup]="performanceForm"
                [bgColor]="'bg-white-lightbone'" (change)="verifiedFormat('forecast')"
                [readOnly]="false"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="TotalForecastData"
                label="{{'Total de datos previstos'|translate}}" inputType="text" [formGroup]="performanceForm"
                [bgColor]="'bg-white-lightbone'" [readOnly]="true"></shared-input-field>

        </div>

        <div class="flex flex-row justify-end space-x-2 py-3 font-medium">
            <button routerLink="/project-manager" class="p-2 bg-line text-darkslategray rounded-xl">
                {{'regresar' | translate}}
            </button>
            <div *ngIf="performanceFP">
                <button (click)="onSubmit()" class="p-2 bg-darkslategray text-line rounded-xl">
                    {{'CreatePerformance'|translate}}
                </button>
            </div>

            <div *ngIf="performanceFP && modifiedPerformanceFP != null">
                <button (click)="modifyPerformance()" class="p-2 bg-darkslategray text-line rounded-xl">
                    {{'Modified'|translate}}
                </button>
            </div>

        </div>
    </form>
</div>

<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto">
    <div class="bg-opacity-75 bg-black absolute inset-0"></div>
    <div class="relative z-50 bg-white shadow-md space-y-1 rounded-xl p-3">
        <div class="justify-center">
            <div class="p-3 flex flex-col items-center">
                <div class="w-full flex justify-end">
                    <select [(ngModel)]="selectedType" class="mb-3 p-2 border bg-white rounded-lg"
                        (change)="applyFilter()">
                        <option value="" disabled selected hidden>{{ 'Filtrar por Área de trabajo' | translate }}
                        </option>
                        <option value="">{{ 'Mostrar todos' | translate }}</option>
                        <option *ngFor="let type of professionalTypes" [value]="type.name">
                            {{ type.name | translate }}
                        </option>
                    </select>
                </div>

                <table class="w-full rtl:text-right text-slate-950 text-center">
                    <thead class="font-medium text-darkslategray">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                {{'FreeProfessional' | translate}}
                            </th>
                            <th scope="col" class="px-6 py-3">
                                {{'Code' | translate}}
                            </th>
                            <th scope="col" class="px-6 py-3">
                                {{ 'Workspace' | translate }}
                            </th>
                            <th scope="col" class="px-6 py-3">
                                {{ 'Select' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-y border-gray-700"
                            *ngFor="let fp of filteredProfessionalsFree; let i = index">
                            <th class="text-center border-y px-4 py-2">
                                {{fp.Name}}
                            </th>
                            <th class="text-center border-y px-4 py-2">
                                {{fp.Code}}
                            </th>
                            <th class="text-center border-y px-4 py-2">
                                {{fp.FreeprofessionaltypeName | translate}}
                            </th>
                            <td class="text-center border-y px-4 py-2">
                                <button (click)="selectProfessionalFree(fp)" class="rounded-xl p-2">
                                    <i class="fas fa-check-circle text-xl animate-bounce text-green-500"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <mat-paginator [length]="filteredProfessionalsFree.length" [pageSize]="10"
                    (page)="onPageChange($event)"></mat-paginator>

                <div class="font-medium p-3 rounded-xl cursor-pointer text-end w-full">
                    <a (click)="closeModal()" class="items-center text-darkslategray bg-line rounded-xl p-2">
                        {{ 'cancelar' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>