<div class="flex flex-col justify-center items-center md:px-10 lg:px-10 py-6 space-y-6 bg-gray-50 rounded-lg shadow-md">
    <div class="flex flex-row w-full space-x-6 justify-center">
        <div class="flex flex-col items-center font-semibold px-3 text-center">
            <h2 class="text-xl text-darkslategray">
                {{'Trainer_&_Consultant_250€'| translate }}
            </h2>
            <div class="flex flex-row pt-4 space-x-3">
                <button
                    class="font-medium rounded-lg px-5 py-3 bg-darkslategray text-white hover:bg-gray-800 transition"
                    (click)="openVideoTrainerConsultant()">
                    {{'Video_Trainer_Consultant'| translate }}
                </button>
                <button
                    class="font-medium rounded-lg px-5 py-3 bg-darkslategray text-white hover:bg-gray-800 transition"
                    (click)="makeAPurchaseTrainerConsultant()">
                    {{'Payment_TPV'| translate }}
                </button>
            </div>
        </div>

        <div class="flex flex-col items-center font-semibold px-3 text-center">
            <h2 class="text-xl text-darkslategray">
                {{'Tecnic_OSD_(Mk Co,SAC)_100€' | translate}}
            </h2>
            <div class="flex flex-row pt-4 space-x-3">
                <button
                    class="font-medium rounded-lg px-5 py-3 bg-darkslategray text-white hover:bg-gray-800 transition"
                    (click)="openVideoTecnicOSD()">
                    {{'Video_Tecnic_OSD' | translate}}
                </button>
                <button
                    class="font-medium rounded-lg px-5 py-3 bg-darkslategray text-white hover:bg-gray-800 transition"
                    (click)="makeAPurchaseTecnicOSDLink()">
                    {{'Payment_TPV' | translate}}
                </button>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap space-y-6 p-4 w-full">
        <form [formGroup]="accountForm" autocomplete="off" class="flex flex-col items-center w-full space-y-4">
            <div class="flex flex-wrap w-full gap-4 justify-center">
                <shared-simple-dropdown (change)="onWorkspaceChange()" [input]="CheckIfIsTr()" class="w-full md:w-1/2"
                    fieldName="workspace" label="{{'Workspace' | translate}}" [formGroup]="accountForm"
                    [dropdownItems]="workspace" [selectedItem]="selectedWorkspace">
                </shared-simple-dropdown>
            </div>

            <div class="w-full flex flex-wrap justify-center gap-4">
                <!-- Identification -->
                <shared-uploadfile [isMandatory]="true" typeFile="Identification" [formGroup]="accountForm"
                    label="Identification" fieldName="IdentificationFileName" [uploadFile]="uploadFile" [fileId]="''"
                    [fileName]="''" [isModified]="false" (fileUploaded)="handleFileUploaded($event)">
                </shared-uploadfile>

                <!-- Curriculum Vitae -->
                <shared-uploadfile [isMandatory]="true" typeFile="CurriculumVitae" [formGroup]="accountForm"
                    label="CurriculumVitae" fieldName="CurriculumVitaeFileName" [uploadFile]="uploadFile" [fileId]="''"
                    [fileName]="''" [isModified]="false" (fileUploaded)="handleFileUploaded($event)">
                </shared-uploadfile>

                <!-- Civil Liability Insurance -->
                <shared-uploadfile [isMandatory]="false" typeFile="CivilLiabilityInsurance" [formGroup]="accountForm"
                    label="{{ 'seguro_responsabilidad_civil' | translate }}" fieldName="CivilLiabilityInsuranceFileName"
                    [uploadFile]="uploadFile" [fileId]="''" [fileName]="''" [isModified]="false"
                    (fileUploaded)="handleFileUploaded($event)">
                </shared-uploadfile>
            </div>
        </form>

        <form [formGroup]="personalForm" autocomplete="off" class="flex flex-wrap items-center space-y-4 w-full">
            <shared-input-field class="w-full md:w-1/2" fieldName="identity" label="{{'DNI' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
            <shared-input-field class="w-full md:w-1/2" fieldName="companyName" label="{{'RazonSocial' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
            <shared-input-field class="w-full md:w-1/2" fieldName="name" label="{{'Name' | translate}}" inputType="text"
                [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
            <shared-input-field class="w-full md:w-1/2" fieldName="firstSurname"
                label="{{'primer_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>
            <shared-input-field class="w-full md:w-1/2" fieldName="middleSurname"
                label="{{'segundo_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>
            <shared-input-field class="w-full md:w-1/2" fieldName="landline" label="{{'tel_fijo' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
            <shared-input-field class="w-full md:w-1/2" fieldName="mobilePhone" label="{{'tel_movil' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="web" label="{{'pagina_web' | translate}}"
                inputType="text" [formGroup]="personalForm"></shared-input-field>
            <shared-input-field class="w-full md:w-1/2" fieldName="zipCode" label="{{'cod_postal' | translate}}"
                inputType="text" [formGroup]="personalForm"></shared-input-field>
            <shared-input-field class="w-full md:w-1/2" fieldName="city" label="{{'Ciudad' | translate}}"
                inputType="text" [formGroup]="personalForm"></shared-input-field>
            <shared-simple-dropdown class="w-full md:w-1/2" fieldName="country" label="{{'pais' | translate}}"
                [formGroup]="personalForm" [dropdownItems]="countries" [selectedItem]="selectedCountries">
            </shared-simple-dropdown>
            <shared-text-area class="w-full" fieldName="address" label="{{'direccion' | translate}}" inputType="text"
                [formGroup]="personalForm"></shared-text-area>
            <shared-input-field class="w-full md:w-1/2" fieldName="email" label="{{'email' | translate}}"
                inputType="email" [formGroup]="personalForm"></shared-input-field>
            <auth-input-password class="w-full md:w-1/2" [formGroup]="personalForm" fieldName="password"
                label="{{'contraseña' | translate}}"></auth-input-password>
            <div class="flex items-center">
                <input type="checkbox" id="acceptConditions" formControlName="acceptConditions">
                <label for="acceptConditions" class="ml-2">{{'aceptar_condiciones' | translate}}</label>
                <a href="https://www.google.com" target="_blank" class="text-blue-500 underline ml-3">Convenio de
                    Adhesión
                    Profesional Libre</a>
            </div>
        </form>
    </div>

    <div class="flex justify-end w-full space-x-4">
        <button routerLink="/onboarding/onboarding-register"
            class="px-4 py-2 rounded-lg bg-gray-300 text-darkslategray font-medium hover:bg-gray-400 transition">
            {{'cancelar' | translate}}
        </button>
        <button class="px-4 py-2 rounded-lg bg-blue-500 text-white font-medium hover:bg-blue-600 transition"
            (click)="onSubmit()">
            {{'confirm' | translate}}
        </button>
    </div>

</div>