<div class="flex flex-col justify-center items-center md:px-10 lg:px-10 py-2 space-y-3">

    <div class="flex flex-col w-full space-y-3">
        <div class="flex-1 items-center flex flex-col font-medium px-3">
            <div class="flex">
                <h2 class=" text-darkslategray">
                    {{'Trainer_&_Consultant_250€'| translate }}</h2>
            </div>
            <div class="flex flex-col pt-3 space-y-3">
                <button class="font-medium rounded-xl p-2 bg-darkslategray text-line"
                    (click)="openVideoTrainerConsultant()">
                    {{'Video_Trainer_Consultant'| translate }}
                </button>

                <button class="font-medium rounded-xl p-2 bg-darkslategray text-line"
                    (click)="makeAPurchaseTrainerConsultant()">
                    {{'Payment_TPV'| translate }}
                </button>
            </div>
        </div>

        <div class="flex-1 items-center flex flex-col font-medium px-3">
            <div class="flex">
                <h2 class="text-darkslategray ">
                    {{'Tecnic_OSD_(Mk Co,SAC)_100€'| translate }}</h2>
            </div>
            <div class="flex flex-col space-y-3 pt-3">
                <button class="font-medium rounded-xl p-2 bg-darkslategray text-line" (click)="openVideoTecnicOSD()">
                    {{'Video_Tecnic_OSD'| translate }}
                </button>

                <button class="font-medium rounded-xl p-2 bg-darkslategray text-line"
                    (click)="makeAPurchaseTecnicOSDLink()">
                    {{'Payment_TPV'| translate }}
                </button>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap space-y-3 p-2">
        <form [formGroup]="accountForm" autocomplete="off" class="flex flex-col items-center w-full justify-center">
            <div class="flex flex-wrap w-full">
                <shared-simple-dropdown [input]="CheckIfIsTr()" class="w-full md:w-1/2" fieldName="workspace"
                    label="{{'Workspace' | translate}}" [formGroup]="accountForm" [dropdownItems]="workspace"
                    [selectedItem]="selectedWorkspace">
                </shared-simple-dropdown>

                <shared-simple-dropdown [readOnly]="isProcessor" class="w-full md:w-1/2" fieldName="SubscriberId"
                    label="{{'SubscriberCustomer' | translate}}" [formGroup]="accountForm"
                    [dropdownItems]="subscriberCustomers" [selectedItem]="selectedSubscriberCustomer">
                </shared-simple-dropdown>
            </div>

            <div class="w-full flex flex-col p-3 space-y-6 lg:flex-row md:flex-row md:space-y-0 lg:space-y-0">
                <div class="flex-1 flex flex-col items-center space-y-1 ">
                    <label for="identificationDocument" class="text-center">{{'Identification' |
                        translate}}<p class="text-sm font-medium text-red-500">({{'Mandatory' | translate}})</p></label>
                    <div class="flex items-center justify-center flex-col space-y-1">
                        <input type="file" id="identificationDocument" formControlName="identificationDocument"
                            class="hidden" (change)="displayFileName($event,2)">
                        <label for="identificationDocument"
                            class="cursor-pointer p-2 text-sm bg-darkslategray text-white rounded-xl">
                            {{'seleccionar_archivo' | translate}}
                        </label>
                        <span class="ml-2 text-sm text-darkslategray">{{this.documentNames[2]}}</span>
                    </div>
                </div>

                <div class="flex-1 flex flex-col items-center space-y-1 ">
                    <label for="curriculumVitae" class="text-center">{{'CurriculumVitae' |
                        translate}}<p class="text-sm font-medium text-red-500">({{'Mandatory' | translate}})</p></label>
                    <div class="flex items-center justify-center flex-col space-y-1">
                        <input type="file" id="curriculumVitae" formControlName="curriculumVitae" class="hidden"
                            (change)="displayFileName($event,0)">
                        <label for="curriculumVitae"
                            class="cursor-pointer p-2 text-sm bg-darkslategray text-white rounded-xl">
                            {{'seleccionar_archivo' | translate}}
                        </label>
                        <span class="ml-2 text-sm text-darkslategray">{{this.documentNames[0]}}</span>
                    </div>
                </div>

                <div class="flex-1 flex flex-col items-center space-y-1">
                    <label for="lastReceiptCLI" class="text-center">{{'seguro_responsabilidad_civil' |
                        translate}} <p class="text-sm font-medium text-red-500">({{'Optional' | translate}})</p>
                    </label>
                    <div class="flex items-center justify-center flex-col space-y-1">
                        <input type="file" id="lastReceiptCLI" formControlName="lastReceiptCLI" class="hidden"
                            (change)="displayFileName($event,1)">
                        <label for="lastReceiptCLI"
                            class="cursor-pointer p-2 text-sm bg-darkslategray text-white rounded-xl">
                            {{'seleccionar_archivo' | translate}}
                        </label>
                        <span class="ml-2 text-sm text-darkslategray">{{this.documentNames[1]}}</span>
                    </div>
                </div>
            </div>

        </form>

        <form [formGroup]="personalForm" autocomplete="off" class="flex flex-wrap items-center space-y-3">
            <div class="flex w-full">
                <shared-input-field class="w-full md:w-1/2" fieldName="identity" label="{{'DNI' | translate}}"
                    inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
            </div>

            <shared-input-field class="w-full md:w-1/2" fieldName="companyName" label="{{'RazonSocial' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="name" label="{{'Name' | translate}}" inputType="text"
                [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="firstSurname"
                label="{{'primer_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="middleSurname"
                label="{{'segundo_apellido' | translate}}" inputType="text" [formGroup]="personalForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="landline" label="{{'tel_fijo' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="mobilePhone" label="{{'tel_movil' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="web" label="{{'pagina_web' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="zipCode" label="{{'cod_postal' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="city" label="{{'Ciudad' | translate}}"
                inputType="text" [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-simple-dropdown class="w-full md:w-1/2" fieldName="country" label="{{'pais' | translate}}"
                [formGroup]="personalForm" [dropdownItems]="countries" [selectedItem]="selectedCountries">
            </shared-simple-dropdown>

            <shared-text-area class="w-full" fieldName="address" label="{{'direccion' | translate}}" inputType="text"
                [formGroup]="personalForm" [bgColor]="'bg-white-lightbone'"></shared-text-area>

            <div class="flex flex-col lg:flex-row md:flex-row text-black w-full my-2 py-3 ">
                <div class="flex-1 flex flex-col p-2 text-black space-y-4">
                    <h1 class="text-lg font-bold text-darkslategray">{{'iniciar_sesion' | translate}}:</h1>
                    <span class="">{{'loginInRegister' | translate}}</span>
                </div>
                <div class="flex-1 flex flex-col ">
                    <shared-input-field class="w-full" fieldName="email" label="{{'email' | translate}}"
                        inputType="email" [formGroup]="personalForm"
                        [bgColor]="'bg-white-lightbone'"></shared-input-field>

                    <auth-input-password class="w-full" [formGroup]="personalForm" fieldName="password"
                        label="{{'contraseña' | translate}}"></auth-input-password>
                </div>
            </div>

            <div class="bg-white flex flex-wrap items-start w-full">
                <a *ngIf="!showDocument"
                    class="p-2 bg-darkslategray rounded-xl text-white animate__animated animate__fadeInDown"
                    href="assets/contracts/19-7-24-Contrato-Profesional-Libre .pdf" download>
                    <i class="fa-solid fa-download"></i>
                    {{'Contract' | translate }}
                </a>
                <a *ngIf="showDocument"
                    class="p-2 bg-darkslategray rounded-xl text-white animate__animated animate__fadeInDown"
                    href="assets/contracts/19-7-24-DSO-Frelance-Agreement.pdf" download>
                    <i class="fa-solid fa-download"></i>
                    {{'Contract' | translate }}
                </a>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row items-center space-x-1">
                    <input type="checkbox" id="acceptConditions" formControlName="acceptConditions">
                    <label for="acceptConditions"> {{'aceptar_condiciones' | translate}}</label>
                </div>
                <div *ngIf="!personalForm.value.acceptConditions" class="text-red-700 pl-1">
                    {{'error_condiciones' | translate}}
                </div>
            </div>

        </form>
    </div>
    <div class="flex flex-wrap  space-x-3 w-full justify-end">
        <button routerLink="/onboarding/onboarding-register"
            class="p-2  rounded-xl bg-line text-darkslategray font-medium animate__animated animate__fadeInDown">
            {{'cancelar' | translate}}
        </button>

        <shared-confirmation-button (click)="onSubmit()" [ButtonName]="'confirm'"></shared-confirmation-button>
    </div>
</div>