<div class="relative w-full px-1" [formGroup]="formGroup">
    <div class="bg-white-lightbone py-1">
        <label for="" class="text-darkgray">{{name}}</label>
    </div>
    <input class="placeholder:text-darkgray bg-white text-black block border-solid border p-2 w-full focus:outline-none focus:border-blue-950" [type]="inputPasswordType" formControlName="repassword" id="repassword" name="password" />
    <button class="absolute top-8 right-2 mt-2 mr-2 pt-0.5 rounded-full text-gray-500 hover:text-blue-500" type="button"
        (click)="togglePasswordVisibility()">
        <i class="fa text-darkgray" [ngClass]="{
            'fa-eye': showPassword,
            'fa-eye-slash': !showPassword
          }" aria-hidden="true"></i>
    </button>
</div>