<shared-error-modal *ngIf="errorModalOpen$ | async"></shared-error-modal>
<div class="flex flex-col justify-center items-center h-full w-full p-3">
  <div class="flex flex-row-reverse w-full">
    <div class="w-72 flex flex-col items-center justify-center bg-darkslategray text-line p-3 rounded-2xl">
      <h3 class="text-center text-xl font-bold">
        Cambio de contraseña
      </h3>
      <p id="textInfo" class="text-center text-sm w-full">
        Para crear una contraseña, introdúzcala dos veces para su validación. Escriba la contraseña deseada en la
        entrada designada
        y, a continuación, vuelva a escribirlo en el campo de confirmación para garantizar la precisión y la seguridad.
      </p>
      <img src="/./assets/img/OSD.png" alt="">
    </div>

    <div class=" flex flex-col justify-center items-center w-full space-y-3">
      <h2 class="text-center text-4xl text-darkblue font-bold">
        Crear nueva contraseña
      </h2>
      <form class="flex flex-col items-center justify-center h-4/5 w-full md:w-4/5 px-2 pb-20 2xl:px-10 gap-6"
        [formGroup]="passwordForm">
        <auth-input-password id="pass1" fieldName="password" class="w-full" [formGroup]="passwordForm"
          [name]="name"></auth-input-password>
        <auth-input-newpassword class="w-full" [formGroup]="passwordForm"></auth-input-newpassword>
        <div id="errorMessage">
          <p class="text-red-500 text-left text-sm"
            *ngIf="passwordForm.hasError('passwordmatcherror') && passwordForm.get('repassword')?.touched">Las
            contraseñas son diferentes</p>
        </div>
        <button type="submit" (click)="onSubmit()"
          class="w-full h-14 bg-darkslategray text-line p-2 rounded-lg font-bold" [disabled]="passwordForm.invalid">
          Cambiar contraseña
        </button>
      </form>
    </div>
  </div>
  <div class="flex justify-end w-full py-3">
    <button routerLink="/home" class="bg-line font-medium p-2 rounded-xl flex items-center text-darkslategray">
      {{'regresar' | translate}}
    </button>
  </div>

</div>