<div class="flex justify-end items-end h-full flex-col space-y-2 ">
    <div class="w-full text-darkslategray text-start py-3 text-xl font-medium animate__animated animate__fadeInLeft">
        <span class="pl-5 pr-3 py-1 bg-yellow-500 rounded-r-full whitespace-nowrap overflow-hidden">
            {{'Assign_Processor_to_Claim' | translate}}<i class="fa-regular fa-hand-pointer"></i></span>
    </div>

    <div class="flex mt-0 flex-col p-3 w-full h-full">
        <div class="overflow-x-auto mt-0">
            <table class="table-auto w-full">
                <thead>
                    <tr class="text-darkslategray">
                        <th class="px-4 py-2">{{'SubscriberCustomer' | translate}}</th>
                        <th class="px-4 py-2">{{'Code' | translate}}</th>
                        <th class="px-4 py-2">{{'reclamacion' | translate}}</th>
                        <th class="px-4 py-2">{{'hechos' | translate}} </th>
                        <th class="px-4 py-2">{{'Date' | translate}} </th>
                        <th class="px-4 py-2">{{'Action' | translate}} </th>
                        <th class="px-4 py-2"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let claim of claims" class="text-center">
                        <td class="text-center border-y px-4 py-2">{{ claim.name}}</td>
                        <td class="text-center border-y px-4 py-2">{{ claim.code}}</td>
                        <td class="text-center border-y px-4 py-2">{{ claim.claimtype | translate }}</td>
                        <td class="text-center border-y px-4 py-2">{{ claim.facts }}</td>
                        <td class="border-y px-3 py-2">{{ claim.datecreated | date:'yyyy-MM-dd' }}</td>
                        <td class="text-center border-y px-4 py-2">
                            <button class="rounded-xl bg-line text-darkslategray p-2" (click)="openModal(claim)"
                                data-modal-target="default-modal">
                                {{'assignProcessor' | translate}}
                            </button>

                            <ng-template #isAssigned>
                                {{'Running' | translate}}
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="claims.length" [pageSize]="10" (page)="onPageChangeClaims($event)"></mat-paginator>
    </div>
    <div class="font-medium rounded-xl w-full flex items-end justify-end p-3">
        <button class="px-2 py-1 bg-line text-darkslategray rounded-lg" routerLink="/home">
            {{'regresar' | translate}}
        </button>
    </div>
</div>

<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto">
    <div class="bg-opacity-75 bg-black absolute inset-0"></div>
    <div class="relative z-50 bg-white shadow-md space-y-1 rounded-xl">
        <div class="justify-center p-3">
            <div class="flex flex-col items-center">
                <div class="font-medium rounded-xl cursor-pointer text-end w-full">
                    <a (click)="closeModal()" class="items-center text-darkslategray rounded-xl ">
                        <i class="text-xl fa-solid fa-xmark"></i>
                    </a>
                </div>
                <table class="table-auto w-full">
                    <thead>
                        <tr class="text-darkslategray">
                            <th scope="col" class="px-6 py-3">
                                {{'Code' | translate}}
                            </th>
                            <th scope="col" class="px-6 py-3">
                                {{'Tramitador' | translate}}
                            </th>
                            <th scope="col" class="px-6 py-3">
                                {{'Assignation' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="users.length > 0; else noUsers">
                        <tr *ngFor="let user of users; let i = index">
                            <th class="text-center font-normal border-y px-4 py-2">
                                {{ user.code }}
                            </th>
                            <th class="text-center font-normal border-y px-4 py-2">
                                {{ (user.name ?? '') + " " + (user.firstname ?? '') + " " + (user.middlesurname ?? '')
                                }}
                            </th>
                            <td class="text-center font-normal border-y px-4 py-2">
                                <button (click)="assignFreeProfessionalToClaim(claim.id, user.id)"
                                    class="rounded-xl p-2 bg-darkslategray text-line">
                                    {{ 'Select' | translate }}
                                </button>
                            </td>
                        </tr>
                        </ng-container>
                        <ng-template #noUsers>
                            <tr class="text-center">
                                <td colspan="3" class="text-darkslategray px-4 py-2">
                                    {{ 'No users available' | translate }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #isLoading>
                            <tr class="text-center">
                                <th></th>
                                <th>
                                    <i class="text-darkslategray text-xl fa-solid fa-spinner animate-spin"></i>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
                <mat-paginator [length]="users.length" [pageSize]="5"
                    (page)="onPageChangeUsers($event)"></mat-paginator>
            </div>
        </div>
    </div>
</div>