<shared-confirmation-modal *ngIf="!user.Isauthorized" [showModal]="true" [message]="message"
    [messageType]="'success'"></shared-confirmation-modal>

<!-- Unauthorized User Section -->
<div *ngIf="!user.Isauthorized" class="h-full bg-gradient-to-b from-gray-100 to-gray-300">
    <div class="flex flex-col items-center justify-center space-y-6 font-medium h-full text-center">
        <h1 class="text-3xl font-bold text-darkslategray">{{ 'HOME.WELCOME_TITLE' | translate }}</h1>
        <p class="text-lg text-gray-700 max-w-md">
            {{ 'HOME.ACCOUNT_PENDING_APPROVAL' | translate }}
        </p>
        <div>
            <span class="text-darkslategray text-base">{{ 'HOME.RETURN_LOGIN' | translate }}</span>
        </div>
        <div routerLink="/auth"
            class="bg-yellow-500 hover:bg-yellow-600 text-darkslategray p-3 rounded-xl cursor-pointer animate-bounce shadow-lg transition duration-300">
            <i class="text-3xl fa-solid fa-lock"></i>
            <span class="ml-2 font-semibold">{{ 'HOME.LOGIN_BUTTON' | translate }}</span>
        </div>
    </div>
</div>

<!-- Authorized User Section -->
<div *ngIf="user.Isauthorized" class="h-full bg-white">
    <div class="flex flex-col items-center justify-center py-10 px-5 space-y-5 text-center">
        <h1 class="text-4xl font-extrabold text-darkslategray">{{ 'HOME.WELCOME_BACK' | translate }}</h1>
        <p class="text-lg text-gray-600 max-w-2xl">
            {{ 'HOME.INSTRUCTION' | translate }}
        </p>
        <div class="grid grid-cols-2 gap-6">
            <!-- Menu Options -->
            <div *ngFor="let option of menuOptions" [routerLink]="option.path" 
                class="flex items-center justify-center p-5 text-white rounded-lg shadow-md cursor-pointer transition duration-300"
                [ngClass]="option.color">
                <i [class]="'fa-solid ' + option.icon + ' text-2xl'"></i>
                <span class="ml-3">{{ option.name | translate }}</span>
            </div>
        </div>
    </div>
</div>
