<div class=" flex flex-col justify-center px-10 py-2 ">
    <div class="flex flex-col py-3 bg-white text-darkslategray ">
        <div class="flex flex-row px-2 items-center border rounded-t-lg bg-darkslategray text-white">
            <img src="/./assets/img/OSD.png" alt="Logo OSD" class="w-12">
            <h1 class="text-lg p-3">{{'TitlePerformance'|translate}}
            </h1>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off" class="flex flex-col space-y-3 p-2">

            <div class="flex flex-wrap items-center">

                <shared-input-field class="w-full md:w-1/2" fieldName="Date" label="{{'Date'|translate}}"
                    inputType="date" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>



                <shared-simple-dropdown class="w-full md:w-1/2" fieldName="Type" label="{{'TypePerformance'|translate}}"
                    [formGroup]="registerForm" [dropdownItems]="type" [selectedItem]="selectedType">
                </shared-simple-dropdown>

            </div>
            <div class=" rounded-lg text-darkslategray font-semibold text-lg">
                <h1>
                    {{'profesional_libre' | translate}}
                </h1>
            </div>


            <div *ngIf="isDropdownOpenPL" class="flex flex-wrap">
                <shared-input-field class="w-full md:w-1/3" fieldName="WorkHours" label="{{'WorkHours'|translate}}"
                    inputType="text" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                <shared-input-field class="w-full md:w-1/3" fieldName="TravelTime" label="{{'TravelTime'|translate}}"
                    inputType="text" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                <shared-input-field class="w-full md:w-1/3" fieldName="TravelExpenses"
                    label="{{'TravelExpenses'|translate}}" inputType="text" [formGroup]="registerForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>
                <shared-input-field class="w-full md:w-1/3" fieldName="Remuneration"
                    label="{{'Remuneration'|translate}}" inputType="text" [formGroup]="registerForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

            </div>

            <div class="rounded-lg text-darkslategray font-semibold text-lg">
                <h1>
                     {{'TechnicalDirector' | translate}}
                </h1>
            </div>


            <div *ngIf="isDropdownOpenDT" class="flex flex-wrap">
                <shared-input-field class="w-full md:w-1/3" fieldName="DateDT" label="{{'Date'|translate}}"
                    inputType="date" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                <shared-input-field class="w-full md:w-1/3" fieldName="WorkHoursDT" label="{{'WorkHours'|translate}}"
                    inputType="text" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                <shared-input-field class="w-full md:w-1/3" fieldName="TravelTimeDT" label="{{'TravelTime'|translate}}"
                    inputType="text" [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                <shared-input-field class="w-full md:w-1/3" fieldName="TravelExpenses"
                    label="{{'TravelExpenses'|translate}}" inputType="text" [formGroup]="registerForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>
                <shared-input-field class="w-full md:w-1/3" fieldName="Remuneration"
                    label="{{'Remuneration'|translate}}" inputType="text" [formGroup]="registerForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

            </div>


            <div class="flex flex-row justify-end space-x-2 pb-3">
                <button routerLink="/home/files"  class="p-2 bg-darkslategray text-white rounded-lg" i18n="@@signin">
                    {{'cancelar'|translate}}
                </button>

                <button type="submit" class="p-2  bg-yellow-500 text-white rounded-lg" i18n="@@signin">
                    {{'CreatePerformance'|translate}}
                </button>
            </div>
        </form>
    </div>
</div>