<div class="flex flex-grow w-full h-full justify-center ">
    <div class="flex-1 flex justify-center py-3 ">
        <div class="flex flex-col">
            <div class="flex flex-row px-2 items-center border bg-darkslategray text-white">
                <img src="/./assets/img/OSD.png" alt="Logo OSD" class="w-12">
                <h1 class="text-4xl p-3">Crear Actuación
                </h1>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off" class="">
                <ul class="flex flex-col py-3">
                    <div [ngClass]="['w-[30rem]']">
                        <li>
                            <shared-input-field class="w-full" fieldName="creditingDate" label="{{'Date'|translate}}"
                                inputType="date" [formGroup]="registerForm"
                                [bgColor]="'bg-white-lightbone'"></shared-input-field>
                        </li>

                        <li>
                            <shared-simple-dropdown class="w-full" fieldName="claimant" label="{{'TypePerformance'|translate}}"
                                [formGroup]="registerForm" [dropdownItems]="type" [selectedItem]="selectedType">
                            </shared-simple-dropdown>
                        </li>
                        <li>
                            <shared-simple-dropdown class="w-full" fieldName="claimant" label="{{'profesional_libre'|translate}}"
                                [formGroup]="registerForm" [dropdownItems]="FreeProfessional" [selectedItem]="PL_FreeProfessional"
                                (click)="toggleDropdownInput('dropdown1')">
                            </shared-simple-dropdown>
                        </li>
                        <li *ngIf="showDropdownInput1">
                            <shared-input-field class="w-full" fieldName="amountClaimed" label="{{'WorkHours'|translate}}"
                                    inputType="text" [formGroup]="registerForm"
                                    [bgColor]="'bg-white-lightbone'"></shared-input-field>
                            <shared-input-field class="w-full" fieldName="amountClaimed" label="{{'TravelTime'|translate}}"
                                    inputType="text" [formGroup]="registerForm"
                                    [bgColor]="'bg-white-lightbone'"></shared-input-field>
                            <shared-input-field class="w-full" fieldName="amountClaimed" label="{{'TravelExpenses'|translate}}"
                                    inputType="text" [formGroup]="registerForm"
                                    [bgColor]="'bg-white-lightbone'"></shared-input-field>
                            <shared-input-field class="w-full" fieldName="amountClaimed" label="{{'Remuneration'|translate}}"
                                    inputType="text" [formGroup]="registerForm"
                                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

                        </li>
                        <li>
                            <shared-simple-dropdown class="w-full" fieldName="claimant" label="Visado DT-Director Técnico"
                                [formGroup]="registerForm" [dropdownItems]="FreeProfessional" [selectedItem]="PL_FreeProfessional"
                                (click)="toggleDropdownInput('dropdown2')">
                            </shared-simple-dropdown>
                        </li>
                        <li *ngIf="showDropdownInput2">
                            <shared-input-field class="w-full" fieldName="creditingDate" label="{{'Date'|translate}}"
                                inputType="date" [formGroup]="registerForm"
                                [bgColor]="'bg-white-lightbone'"></shared-input-field>
                            <shared-input-field class="w-full" fieldName="amountClaimed" label="{{'WorkHours'|translate}}"
                                    inputType="text" [formGroup]="registerForm"
                                    [bgColor]="'bg-white-lightbone'"></shared-input-field>
                            <shared-input-field class="w-full" fieldName="amountClaimed" label="{{'TravelTime'|translate}}"
                                    inputType="text" [formGroup]="registerForm"
                                    [bgColor]="'bg-white-lightbone'"></shared-input-field>
                            <shared-input-field class="w-full" fieldName="amountClaimed" label="{{'TravelExpenses'|translate}}"
                                    inputType="text" [formGroup]="registerForm"
                                    [bgColor]="'bg-white-lightbone'"></shared-input-field>
                            <shared-input-field class="w-full" fieldName="amountClaimed" label="{{'Remuneration'|translate}}"
                                    inputType="text" [formGroup]="registerForm"
                                    [bgColor]="'bg-white-lightbone'"></shared-input-field>

                        </li>

                    </div>
                </ul>
                <div class="flex flex-row space-x-2 pb-3">
                    <button
                        class="w-60 h-12  border bg-white text-blue-950 text-lg mt-4 rounded-lg font-bold hover:bg-hover-darkblue"
                        i18n="@@signin">
                        {{'cancelar'|translate}}
                    </button>

                    <button type="submit"
                        class="w-full h-12  bg-yellow-500 text-blue-950 text-lg mt-4 rounded-lg font-bold hover:bg-hover-darkblue"
                        i18n="@@signin">
                        {{'CreatePerformance'|translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>