<div class="flex flex-col justify-end items-end">
    <form [formGroup]="performanceForm" autocomplete="off" class="px-10 py-2 w-full h-full">
        <div class="flex flex-wrap items-center">
            <shared-input-field class="w-full md:w-1/2" fieldName="Date" label="{{ 'Date' | translate }}"
                inputType="date" [formGroup]="performanceForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-simple-dropdown class="w-full md:w-1/2" fieldName="Type" label="{{ 'TypePerformance' | translate }}"
                [formGroup]="performanceForm" [dropdownItems]="type" [selectedItem]="selectedType">
            </shared-simple-dropdown>

            <shared-input-field class="w-full md:w-1/2" fieldName="Summary" label="{{ 'Summary' | translate }}"
                inputType="text" [formGroup]="performanceForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <div class="flex-1 flex flex-col items-center space-y-1">
                <label for="JustifyingDocument" class="text-center">{{'justifyingDocument' |
                    translate}}</label>
                <div class="flex items-center justify-center flex-col space-y-1">
                    <input type="file" id="JustifyingDocument" formControlName="JustifyingDocument" class="hidden"
                        (change)="displayFileName()">
                    <label for="JustifyingDocument"
                        class="cursor-pointer p-2 text-sm bg-darkslategray text-white rounded-xl">
                        {{'seleccionar_archivo' | translate}}
                    </label>
                    <span class="ml-2 text-sm text-darkslategray">{{documentName}}</span>
                    <p *ngIf="isErrorInForm" class="text-sm text-red-500">Este campo es obligatorio</p>
                </div>
            </div>
        </div>

        <div class="text-darkslategray text-base pl-1 mt-3 text-start font-medium">
            <h1 class="border-b">
                {{ 'Trainer' | translate }}
            </h1>
        </div>

        <div class="flex flex-wrap justify-center">
            <shared-input-field class="w-full md:w-1/2" fieldName="TrainerWorkHours"
                label="{{ 'WorkHours' | translate }}" inputType="text" (input)="verifiedFormat('trainer')"
                [formGroup]="performanceForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" (input)="verifiedFormat('trainer')" fieldName="TrainerTravelHours"
                label="{{ 'TravelTime' | translate }}" inputType="text" [formGroup]="performanceForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="TrainerTravelExpenses"
                label="{{ 'TravelExpenses' | translate }}" inputType="text" [formGroup]="performanceForm"
                (input)="verifiedFormat('trainer')" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="TrainerRemuneration"
                label="{{ 'Remuneration' | translate }}" inputType="text" [formGroup]="performanceForm"
                [bgColor]="'bg-white-lightbone'" [readOnly]="true"></shared-input-field>
        </div>

        <div *ngIf="reviewPerformance != null" class="text-darkslategray text-base pl-1 mt-3 text-start font-medium">
            <h1 class="border-b">
                {{ 'TechnicalDirector' | translate }}
            </h1>
        </div>

        <div class="flex flex-wrap justify-center" *ngIf="reviewPerformance != null">
            <div class="w-full flex">
                <shared-input-field class="w-full md:w-1/2" fieldName="Technical_Director_Date" label="{{ 'Date' | translate }}"
                    inputType="date" [formGroup]="performanceForm"
                    [bgColor]="'bg-white-lightbone'"></shared-input-field>
            </div>

            <shared-input-field class="w-full md:w-1/2" fieldName="Technical_Director_WorkHours"
                label="{{ 'WorkHours' | translate }}" inputType="text" (input)="verifiedFormat('technicalDirector')"
                [formGroup]="performanceForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" (input)="verifiedFormat('technicalDirector')" fieldName="Technical_Director_TravelTime"
                label="{{ 'TravelTime' | translate }}" inputType="text" [formGroup]="performanceForm"
                [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="Technical_Director_TravelExpenses"
                label="{{ 'TravelExpenses' | translate }}" inputType="text" [formGroup]="performanceForm"
                (input)="verifiedFormat('technicalDirector')" [bgColor]="'bg-white-lightbone'"></shared-input-field>

            <shared-input-field class="w-full md:w-1/2" fieldName="Technical_Director_Remuneration"
                label="{{ 'Remuneration' | translate }}" inputType="text" [formGroup]="performanceForm"
                [bgColor]="'bg-white-lightbone'" [readOnly]="true"></shared-input-field>
        </div>
    </form>
    <div class="font-medium rounded-xl w-full flex items-end justify-end p-3 space-x-3">
        <button class="p-2 bg-line text-darkslategray rounded-lg" routerLink="/home">
            {{'regresar' | translate}}
        </button>
        <button (click)="onSubmit()" class="p-2 bg-darkslategray text-line rounded-lg">
            {{'CreatePerformance' | translate}}
        </button>
        <button *ngIf="modifyPerformanceTrainer != null" (click)="modifyPerformance()" class="p-2 bg-darkslategray text-line rounded-lg">
            {{'Modified' | translate}}
        </button>
    </div>
</div>