<div class="flex justify-center items-center h-auto w-full py-6 bg-blue-950">
    <div class="flex flex-col border p-11 rounded-xl space-y-7 bg-white text-blue-950 font-bold">

        <span>Required Fields*</span>

        <div class="flex items-center flex-col ">
            <h1>Registro (Suscriptor /Cliente)</h1>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off" class="">
            <ul class="flex flex-col ">
                <div [ngClass]="['w-[50rem]']">
                    <li>
                        <shared-simple-dropdown class="w-full" fieldName="clientType" label="Client Type*"
                            [formGroup]="registerForm" [dropdownItems]="clientType" [selectedItem]="selectedClientType">
                        </shared-simple-dropdown>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="identity" label="CIF/ D.N.I/ PASAPORTE*"
                            inputType="text" [formGroup]="registerForm"
                            [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="name" label="Name*" inputType="text"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="firstSurname" label="First surname*"
                            inputType="text" [formGroup]="registerForm"
                            [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="middleSurname" label="Middle surname*"
                            inputType="text" [formGroup]="registerForm"
                            [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="landline" label="Landline" inputType="tel"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="mobilePhone" label="Mobile Phone*" inputType="tel"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="email" label="Email*" inputType="email"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="web" label="Web" inputType="text"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="country" label="Country" inputType="text"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="zipCode" label="Zip Code" inputType="number"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-text-area class="w-full" fieldName="address" label="Address*" inputType="text"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-text-area>
                    </li>

                    <li class="pt-5">
                        <shared-simple-dropdown class="w-full" fieldName="plCode" label="PL Code*"
                            [formGroup]="registerForm" [dropdownItems]="plCode" [selectedItem]="selectedPLcode">
                        </shared-simple-dropdown>
                    </li>
                </div>

                <li class="pl-1">
                    <input type="checkbox" id="acceptConditions" formControlName="acceptConditions">
                    <label for="acceptConditions"> Acepto las Condiciones</label>
                </li>

                <div *ngIf="!registerForm.value.acceptConditions" class="text-red-700 pl-1">
                    Debes aceptar las condiciones.
                </div>
            </ul>
            <div class="flex flex-row space-x-2">
                <button
                    class="w-60 h-12  border bg-white text-blue-950 text-lg mt-4 rounded-lg font-bold hover:bg-hover-darkblue"
                    i18n="@@signin">
                    Cancelar
                </button>

                <button type="submit"
                    class="w-full h-12  bg-yellow-500 text-blue-950 text-lg mt-4 rounded-lg font-bold hover:bg-hover-darkblue"
                    i18n="@@signin">
                    Registrarse
                </button>
            </div>
        </form>
    </div>
</div>