<div class="flex justify-center flex-col space-y-2">
  <div class="text-xl font-medium text-darkslategray px-5 text-center">
    <h1 class="">Autorizar Profesionales Libres</h1>
  </div>
  <div class="flex justify-center flex-col">
    <div class="overflow-x-auto">
      <table class="table-auto w-full">
        <thead>
          <tr class="bg-darkslategray text-white">
            <th class="px-2 py-2" style="width: 30%;">{{'identity' | translate}}</th>
            <th class="px-2 py-2" style="width: 30%;">{{'profesionales_libres' | translate}} </th>
            <th class="px-2 py-2" style="width: 30%;">{{'actions' | translate}}</th>
            <th class="px-2 py-2" style="width: 30%;">{{'authorized' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of displayedItems">
            <td class="text-center border-y px-2  py-2">{{ item.Identity }}</td>
            <td class="text-center border-y px-2  py-2">{{ item.Name + " " + item.Firstname + " " + item.Middlesurname }}
            </td>
            
            <td class="text-center space-x-2 border-y px-4 py-2">
              <button (click)="showModal(item)" class="underline text-darkslategray text-sm">
                <i class="fas fa-eye"></i>{{'viewData' | translate}}</button>
            </td>
            <td class="text-center border-y px-2 py-2">
              <i class="fa-solid fa-circle"
                  [ngClass]="{'text-green-500': item.Isauthorized, 'text-red-600': !item.Isauthorized}">
              </i>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<mat-paginator [length]="items.length" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>

<div class="absolute bottom-3 left-3">
  <button class="px-2 py-1 bg-line text-darkslategray rounded-lg" routerLink="/home">
    <i class="fa-solid fa-chevron-left animate-pulse"></i> {{'regresar' | translate}}
  </button>
</div>

<div *ngIf="showModalConfirm" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white p-4 rounded-lg w-96">
    <span (click)="closeModal()" class="absolute top-0 right-0 p-2 text-gray-500 cursor-pointer">&times;</span>
    <h1 class="bg-darkslategray text-white text-center py-2 font-bold">Información del profesional libre</h1>
    <div class="flex flex-col items-center">
      <p><strong>ID:</strong> {{ selectedUser?.Id }}</p>
      <p><strong>DNI:</strong> {{ selectedUser?.Identity }}</p>
      <p><strong>Nombre:</strong> {{ selectedUser?.Name + " " + selectedUser?.Firstname + " " + selectedUser?.Middlesurname }}</p>
      <p><strong>Email:</strong> {{ selectedUser?.Email }}</p>
      <p><strong>Estado:</strong>
        <span *ngIf="selectedUser.Isauthorized; else notAuthorizedText" class="text-green-600 font-medium">
          Autorizado</span>
        <ng-template #notAuthorizedText>
          <span class="text-red-600 font-medium"> No autorizado</span>
        </ng-template>
      </p>
      <div class="flex justify-center mt-4">
        <button (click)="AuthorizeUser(selectedUser)" class="bg-darkslategray text-white font-bold py-2 px-4 m-2">Autorizar</button>
        <button (click)="closeModal()" class="bg-darkslategray text-white font-bold py-2 px-4 m-2">Cancelar</button>
      </div>
    </div>
  </div>
</div>