<div class="flex justify-center flex-col space-y-1">
    <!-- TITLE -->
    <div class="text-darkslategray text-start py-3 text-xl font-medium animate__animated animate__fadeInLeft">
        <span class="pl-5 pr-3 py-1 bg-yellow-500 rounded-r-full whitespace-nowrap overflow-hidden">
            {{ 'authorizeCustomers' | translate }}
        </span>
    </div>

    <!-- Authorized Modal (existing) -->
    <shared-authorized-modal [isAuthorized]="isAuthorized" [personalDataObject]="user" [message]="''"
        [accountDataObject]="subscriber" [showModal]="showAuthorizatedModal" (confirm)="onConfirmHandler()"
        (cancel)="onCancelHandler()">
    </shared-authorized-modal>

    <!-- TABLE -->
    <div class="flex justify-center flex-col p-5">
        <div class="overflow-x-auto">
            <ng-container *ngFor="let userType of itemsGroupedByUserType | keyvalue">
                <!-- Group Header -->
                <div class="text-darkslategray text-start py-3 text-lg font-semibold">
                    {{ getUserTypeDisplayName(userType.key) }} <!-- Display mapped name -->
                </div>

                <!-- Table for each USER_TYPE -->
                <table class="table-auto w-full mb-5">
                    <thead>
                        <tr class="text-darkslategray">
                            <th class="px-2 py-2" style="width: 20%;">
                                {{ 'Formador asignado' | translate }}
                            </th>
                            <th class="px-2 py-2" style="width: 15%;">
                                {{ 'Code' | translate }}
                            </th>
                            <th class="px-2 py-2" style="width: 20%;">
                                {{ 'SubscriberCustomer' | translate }}
                            </th>
                            <th class="px-2" style="width: 15%;">
                                {{ 'actions' | translate }}
                            </th>
                            <th class="px-2" style="width: 15%;">
                                {{ 'authorized' | translate }}
                            </th>
                            <th class="px-2" style="width: 15%;">
                                {{ 'See Info' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of userType.value">
                            <!-- Trainer Assigned -->
                            <td class="text-center border-y px-2 py-2">
                                {{ item.trainerassigned ? item.trainerassigned : 'Sin asignar' }}
                            </td>

                            <!-- Code -->
                            <td class="text-center border-y px-2 py-2">
                                {{ item.code }}
                            </td>

                            <!-- Subscriber/Client Name -->
                            <td class="text-center border-y px-2 py-2">
                                {{ item.name }} {{ item.firstsurname }} {{ item.middlesurname ? item.middlesurname : ''
                                }}
                            </td>

                            <!-- Actions -->
                            <td class="text-center space-x-2 border-y py-2">
                                <button (click)="selectUser(item)" class="underline text-darkslategray text-sm">
                                    <i class="fas fa-check-circle text-xl animate-bounce"></i>
                                </button>
                            </td>

                            <!-- Authorized (red/green icon) -->
                            <td class="text-center border-y px-2 py-2">
                                <i class="fa-solid fa-circle" [ngClass]="{
                      'text-green-500': item.isauthorized,
                      'text-red-600': !item.isauthorized
                    }">
                                </i>
                            </td>

                            <!-- "See Info" -->
                            <td class="text-center border-y px-2 py-2">
                                <button (click)="viewSubscriberInfo(item)" class="underline text-darkslategray text-sm">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </div>
</div>

<!-- Return Button -->
<div class="font-medium rounded-xl w-full flex items-end justify-end p-3">
    <button class="px-2 py-1 bg-line text-darkslategray rounded-lg" routerLink="/home">
        {{ 'regresar' | translate }}
    </button>
</div>

<div *ngIf="showSubscriberInfo" class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto">
    <!-- Blackout overlay -->
    <div class="bg-opacity-80 bg-black absolute inset-0"></div>

    <!-- Modal content -->
    <div class="modern-modal relative z-50 bg-white shadow-md rounded-xl max-w-6xl w-full p-6">
        <!-- Header with 'X' -->
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold text-darkslategray">
                {{ 'Subscriber Info' | translate }}
            </h2>
            <button (click)="closeInfoModal()" class="close-modal-btn text-gray-600 hover:text-gray-900">
                <i class="fa-solid fa-times text-lg"></i>
            </button>
        </div>

        <!-- Subscriber Data in Three Columns -->
        <div class="grid grid-cols-3 gap-6">
            <!-- Column 1 -->
            <table class="subscriber-table w-full">
                <thead>
                    <tr>
                        <th class="text-left font-bold">{{ 'Field' | translate }}</th>
                        <th class="text-left font-bold">{{ 'Value' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>ID</strong></td>
                        <td>{{ selectedSubscriber?.id }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Email' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Name' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.name }} {{ selectedSubscriber?.firstsurname }} {{
                            selectedSubscriber?.middlesurname ? selectedSubscriber?.middlesurname : '' }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Country' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.country }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'City' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.city }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Company Name' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.companyName }}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Column 2 -->
            <table class="subscriber-table w-full">
                <thead>
                    <tr>
                        <th class="text-left font-bold">{{ 'Field' | translate }}</th>
                        <th class="text-left font-bold">{{ 'Value' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>{{ 'Address' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.address }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Zip Code' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.zipCode }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Landline' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.landline }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Mobile Phone' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.mobilePhone }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Web' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.web }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Referrer' | translate }}</strong></td>
                        <td>{{ selectedSubscriber?.referrer }}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Column 3 -->
            <table class="subscriber-table w-full">
                <thead>
                    <tr>
                        <th class="text-left font-bold">{{ 'Field' | translate }}</th>
                        <th class="text-left font-bold">{{ 'Value' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>{{ 'ID File' | translate }}</strong></td>
                        <td>
                            <div class="flex flex-col space-y-1">
                                <button id="downloadButton" type="button" class="cursor-pointer px-4 py-2 text-sm font-medium bg-indigo-600 text-white rounded-lg shadow-md 
                                  hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 
                                  transition ease-in-out duration-150"
                                    (click)="downloadSelectedFile('identification')">
                                    {{ 'Download' | translate }}
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Curriculum File' | translate }}</strong></td>
                        <td>
                            <div class="flex flex-col space-y-1">
                                <button id="downloadButton" type="button" class="cursor-pointer px-4 py-2 text-sm font-medium bg-indigo-600 text-white rounded-lg shadow-md 
                                  hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 
                                  transition ease-in-out duration-150" (click)="downloadSelectedFile('curriculum')">
                                    {{ 'Download' | translate }}
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Civilliability Insurance File' | translate }}</strong></td>
                        <td>
                            <div class="flex flex-col space-y-1">
                                <button id="downloadButton" type="button" class="cursor-pointer px-4 py-2 text-sm font-medium bg-indigo-600 text-white rounded-lg shadow-md 
                                  hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 
                                  transition ease-in-out duration-150"
                                    (click)="downloadSelectedFile('civilliability')">
                                    {{ 'Download' | translate }}
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>