<div class="flex justify-center items-center h-full">
    <div class="flex flex-col space-y-3 p-3">
        <div class="flex flex-col items-center">
            <img src="/./assets/img/profile.png" alt="Profile Picture" class="w-1/2 rounded-full">    
        </div>
        <div class="flex flex-col space-y-3 p-3">
            <div class="">
                <label class="block text-sm font-medium text-gray-700">Código de usuario:</label>
                <p class="text-lg">{{userInfo.Code}}</p>
            </div>
            <div class="">
                <label class="block text-sm font-medium text-gray-700">Nombre Completo:</label>
                <p class="text-lg">{{userInfo.Name}} {{userInfo.Firstname}} {{userInfo.Middlesurname}}</p>
            </div>
            <div class="">
                <label class="block text-sm font-medium text-gray-700">Correo Electrónico:</label>
                <p class="text-lg">{{userInfo.Email}}</p>
            </div>      
            <div class="">
                <label class="block text-sm font-medium text-gray-700">Tipo de cuenta:</label>
                <p class="text-lg">{{userInfo.AccountType | translate}}</p>
            </div>
        </div>
    </div>
</div>

<div class="w-full flex justify-end p-3">
    <button class="bg-line font-medium p-2 rounded-xl flex items-center text-darkslategray" routerLink="/home" >Regresar</button>
</div>
