<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center">
    <div class="bg-opacity-75 bg-black absolute inset-0"></div>
    <div class="relative z-50 bg-white p-8 rounded shadow-md flex flex-col items-center">
        <i class="fa-solid text-4xl" [ngClass]="{'fa-xmark text-red-500': messageType == 'error','text-green-500 fa-check' : messageType == 'success'}"></i>
        <div class="text-lg text-black mb-4">{{ message }}</div>
        <div class="flex justify-end">
            <button (click)="onConfirm()"
                class="bg-line hover:bg-darkblue-cyan text-black font-bold px-4 py-2 mr-2 rounded">Aceptar</button>
            <button (click)="onCancel()"
                class="bg-darkslategray hover:bg-yellow text-white font-bold px-4 py-2 rounded">Cancelar</button>
        </div>
    </div>
</div>