<div class="flex flex-col space-y-4 h-full w-full px-5 py-3 text-darkslategray">
  <!-- Title / Heading -->
  <div class="w-full text-start py-3 text-xl font-medium animate__animated animate__fadeInLeft">
    <span class="pl-5 pr-3 py-1 bg-yellow-500 rounded-r-full">
      {{ 'assignNewFreeProfessional' | translate }}
    </span>
  </div>

  <!-- Filter Section -->
  <div class="flex flex-col items-center space-y-4">
    <!-- Country Filter Dropdown -->
    <div class="w-full md:w-1/2">
      <h3 class="text-darkslategray text-lg font-semibold mb-2 text-center">
        {{ 'Country' | translate }}
      </h3>
      <shared-simple-dropdown class="w-full" [dropdownItems]="countries" [formGroup]="myForm"
        fieldName="selectedCountry" (change)="filterUsers()">
      </shared-simple-dropdown>
    </div>

    <!-- Cancel Button -->
    <div class="flex justify-center mt-4">
      <button
        class="px-2 py-1 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition ease-in-out duration-150"
        (click)="onCancel()">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>

  <!-- Table of Free Professionals -->
  <div class="flex flex-col bg-white rounded-md shadow-sm p-3 w-full">
    <div class="overflow-x-auto">
      <table class="table-auto w-full">
        <thead>
          <tr class="text-darkslategray">
            <th class="px-4 py-2">{{ 'Name' | translate }}</th>
            <th class="px-4 py-2">{{ 'Email' | translate }}</th>
            <th class="px-4 py-2">{{ 'Country' | translate }}</th>
            <th class="px-4 py-2">{{ 'Action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fp of pagedFreeProfessionals" class="text-center">
            <td class="border-y px-4 py-2">{{ fp.username }}</td>
            <td class="border-y px-4 py-2">{{ fp.useremail }}</td>
            <td class="border-y px-4 py-2">{{ fp.country }}</td>
            <td class="border-y px-4 py-2">
              <button (click)="onSelectFreeProfessional(fp)" class="bg-darkslategray text-line px-3 py-1 rounded-md">
                {{ 'Select' | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Paginator -->
    <mat-paginator [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>

  <!-- Back or other navigation -->
  <div class="flex justify-end items-center space-x-3 mt-4">
    <button class="px-3 py-1 bg-line text-darkslategray rounded-md" routerLink="/home">
      {{ 'goBack' | translate }}
    </button>
  </div>
</div>