<div class="relative w-full my-1" [formGroup]="formGroup">
  <div class="bg-white-lightbone ">
    <label for="" class="text-darkgray">{{ label }}</label>
  </div>
  <input
    class="placeholder:text-darkgray bg-white text-black block border-solid border w-full p-2  pr-3  focus:outline-none focus:border-blue-950 "
    [formControlName]="fieldName"
    [name]="fieldName"
    [id]="fieldName"
    [type]="inputPasswordType"
  />
  <button
    class="absolute top-6 right-2 mt-2 mr-2 pt-0.5 rounded-full text-gray-500 hover:text-blue-500"
    type="button"
    (click)="togglePasswordVisibility()"
  >
    <i
      class="fa text-darkgray"
      [ngClass]="{
        'fa-eye': showPassword,
        'fa-eye-slash': !showPassword
      }"
      aria-hidden="true"
    ></i>
  </button>
  <p class="mt-2 text-sm text-red-500" *ngIf="isValidField(fieldName); else hidden">
    {{ getFieldError(fieldName) }}
  </p>
  <ng-template #hidden>
    <p class="mt-2 text-sm">&nbsp;</p>
  </ng-template>
</div>
