<div class="relative w-full my-1" [formGroup]="formGroup">
  <div class="bg-white-lightbone ">
    <label for="" class="text-darkgray">{{ label }}</label>
  </div>
  <input
    class="placeholder:text-darkgray block bg-white-lightbone border-solid border-2 border-ligthgray w-full
    rounded-lg p-2 pl-9 pr-3 h-12 shadow-sm focus:outline-none focus:ring focus:lightblue-cyan"
    [formControlName]="fieldName"
    [name]="fieldName"
    [id]="fieldName"
    [type]="inputPasswordType"
  />
  <button
    class="absolute top-1 right-2 mt-2 mr-2 pt-0.5 rounded-full text-gray-500 hover:text-blue-500"
    type="button"
    (click)="togglePasswordVisibility()"
  >
    <i
      class="fa text-darkgray"
      [ngClass]="{
        'fa-eye': showPassword,
        'fa-eye-slash': !showPassword
      }"
      aria-hidden="true"
    ></i>
  </button>
  <p class="mt-2 text-sm text-red" *ngIf="isValidField(fieldName); else hidden">
    {{ getFieldError(fieldName) }}
  </p>
  <ng-template #hidden>
    <p class="mt-2 text-sm">&nbsp;</p>
  </ng-template>
</div>
