<div class="flex flex-col py-3 space-y-3">
  <h1 class="text-center text-darkslategray text-xl">Registro de Profesionales Libres / CFHs</h1>

  <form [formGroup]="professionalForm">
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-gray-200 text-darkslategray border-b-2 border-gray-400">
          <th class="py-2 px-4">Nombre</th>
          <th class="py-2 px-4">Tarifas (EUR)</th>
          <th class="py-2 px-4">Tipo</th>
          <th class="py-2 px-4">CFH Asociado</th>
          <th class="py-2 px-4">Clientes Referidos</th>
          <th class="py-2 px-4">Ingreso Total Referencias (EUR)</th>
        </tr>
      </thead>
      <tbody formArrayName="professionals">
        <tr
          *ngFor="let professional of professionals.controls; let i = index"
          [formGroupName]="i"
          [ngClass]="{
            'bg-tc': professional.value.FreeprofessionaltypeAcronym === 'TC',
            'bg-tr': professional.value.FreeprofessionaltypeAcronym === 'TR',
            'bg-infit': professional.value.FreeprofessionaltypeAcronym === 'INFIT',
            'bg-isosd': professional.value.FreeprofessionaltypeAcronym === 'ISOSD',
            'bg-tm': professional.value.FreeprofessionaltypeAcronym === 'TM',
            'bg-dt': professional.value.FreeprofessionaltypeAcronym === 'DT',
            'bg-ts': professional.value.FreeprofessionaltypeAcronym === 'TS',
            'bg-fc': professional.value.FreeprofessionaltypeAcronym === 'FC',
            'bg-tk': professional.value.FreeprofessionaltypeAcronym === 'TK'
          }"
        >
          <td class="p-2 border border-gray-300">
            <input
              type="text"
              formControlName="name"
              placeholder="Nombre"
              class="w-full p-1 rounded bg-gray-100 cursor-not-allowed"
              readonly
            />
          </td>
          <td class="p-2 border border-gray-300">
            <input
              type="number"
              formControlName="serviceRates"
              placeholder="Tarifas"
              class="w-full p-1 rounded bg-gray-100 cursor-not-allowed"
              readonly
            />
          </td>
          <td class="p-2 border border-gray-300">
            <input
              type="text"
              formControlName="type"
              placeholder="Tipo"
              class="w-full p-1 rounded bg-gray-100 cursor-not-allowed"
              readonly
            />
          </td>
          <td class="p-2 border border-gray-300">
            <input
              type="text"
              formControlName="cfhAssociated"
              placeholder="CFH Asociado"
              class="w-full p-1 rounded bg-gray-100 cursor-not-allowed"
              readonly
            />
          </td>
          <td class="p-2 border border-gray-300">
            <input
              type="number"
              formControlName="clientsReferred"
              placeholder="Clientes Referidos"
              class="w-full p-1 rounded bg-gray-100 cursor-not-allowed"
              readonly
            />
          </td>
          <td class="p-2 border border-gray-300">
            <input
              type="text"
              formControlName="totalIncome"
              placeholder="Ingreso Total"
              class="w-full p-1 rounded bg-gray-100 cursor-not-allowed"
              readonly
            />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
