<!-- The next div checks whether the left sidebar is open or not -->
<div *ngIf="!(leftSidebarOpen$ | async); else leftSidebarIsOpen"
  class="bg-white w-6 h-screen absolute lg:relative left-0 border-r-2 drop-shadow-lg animate__animated animate__fadeInRight"
  style="border-color: #eeeff2; border-collapse: collapse;">
  <button (click)="toggleLeftSidebar()" class="absolute top-10 left-4 rounded-full px-2">
    <i class="fa-solid fa-chevron-right text-black"></i>
  </button>
</div>

<ng-template #leftSidebarIsOpen>
  <div (mouseenter)="showArrow()" (mouseleave)="hideArrow()"
    class=" bg-white content-center flex flex-col h-screen py-10 px-2  shadow-lg w-64 absolute lg:relative left-0.5 left-sidebar open border-r-2"
    style="border-color: #eeeff2;">
    <button *ngIf="arrowLeftSidebar" (click)="toggleLeftSidebar()"
      class="arrow-left absolute top-10 bg-yellow rounded-full px-2 hover:bg-white-bone animate__animated animate__fadeInLeft">
      <i class="fa-solid fa-chevron-left text-base text-black"></i>
    </button>
    <div class="font-medium text-darkslategray mb-6 mr-3 cursor-pointer">
      <div class="flex flex-col justify-center items-start border-b">
        <span class="ml-3">{{'OSDservices' | translate}}</span>
      </div>
    </div>
    <ul class="space-y-2 font-normal text-black ml-2">

      <li class="cursor-pointer" routerLink="/reports">
        <i class="fa-solid fa-eye"></i>
        <span class="ml-3">{{'transparencia' | translate}}</span>
      </li>

      <li class="cursor-pointer" routerLink="/onboarding/onboarding-register-claimant">
        <i class="fas fa-balance-scale"></i>
        <span class="ml-3">{{'presentar_reclamación' | translate}}</span>
      </li>
    
      <li class="cursor-pointer" routerLink="/onboarding">
        <i class="fa-solid fa-user-plus"></i>
        <span class="ml-3">{{'registerNewUser' | translate}}</span>
      </li>
      
      <li class="cursor-pointer" routerLink="/home/free-professional-file">
        <i class="fa-solid fa-file"></i>
        <span class="ml-3">{{'TitlePerformance' | translate}}</span>
      </li>

      <li class="cursor-pointer" routerLink="/functions/sub-authorized" (click)="getSubscribers()">
        <i class="fa-solid fa-check-circle"></i>
        <span class="ml-3">{{'authorizeCustomers' | translate}}</span>
      </li>

      <li class="cursor-pointer" routerLink="/functions/autorization-pl" (click)="autorizationFreeProfessionals()">
        <i class="fa-solid fa-check-circle"></i>
        <span class="ml-3">{{'authorizeFreeProfessionals' | translate}}</span>
      </li>
      
      <li class="cursor-pointer" routerLink="/functions/assign-pltr-claims" 
          (click)="onSubmitAssignClaimsToFreeProfessionalsTR()">
        <i class="fa-solid fa-user"></i>
        <span class="ml-3">{{'Assign_Processor_to_Claim' | translate}}</span>
      </li>

      <li class="cursor-pointer" routerLink="/project-manager" (click)="getPerformances()">
        <i class="fa-solid fa-project-diagram"></i>
        <span class="ml-3">Gestion Etica y Transparente de Proyecto</span>
      </li>
    </ul>
  </div>
</ng-template>