<div class="h-full flex flex-col justify-end items-end">
    <div class="w-full text-darkslategray text-start py-3 text-xl font-medium animate__animated animate__fadeInLeft">
        <span class="pl-8 pr-3 py-1 bg-yellow-500 rounded-r-full whitespace-nowrap overflow-hidden">
            {{'NewProject' | translate}} <i class="fa-solid fa-project-diagram"></i></span>
    </div>
    <div class="w-full h-full items-center justify-center">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" autocomplete="off"
            class="flex flex-col items-center justify-center px-3 h-full">
    
            <shared-input-field class="w-full md:w-1/2" fieldName="Objective" label="{{'Objective' | translate}}"
                inputType="text" [formGroup]="projectForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
    
            <shared-input-field class="w-full md:w-1/2" fieldName="Expected_hours" label="{{'expectedTimes' | translate}}"
                inputType="number" [formGroup]="projectForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
    
            <shared-input-field class="w-full md:w-1/2" fieldName="Economic_budget" label="{{'economicBudget' | translate}}"
                inputType="number" [formGroup]="projectForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
    
            <shared-input-field class="w-full md:w-1/2" fieldName="Start_Date" label="{{'start_date' | translate}}"
                inputType="date" [formGroup]="projectForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
        </form>
    </div>
    <div class="flex space-x-3  font-medium p-3">
        <button routerLink="/project-manager" class="p-2 rounded-xl bg-line text-darkslategray">{{'regresar' | translate}}</button>
        <shared-confirmation-button (click)="onSubmit()" [ButtonName]="'confirm'"></shared-confirmation-button>
    </div>
</div>