<div class="flex justify-center items-center h-auto w-full py-6 bg-blue-950">
    <div class="flex flex-col border p-11 rounded-xl space-y-7 bg-white text-blue-950 font-bold">

        <span>Required Fields*</span>

        <div class="flex items-center flex-col ">
            <h1>Registro (Profesional Libre)</h1>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off" class="">
            <ul class="flex flex-col ">
                <div [ngClass]="['w-[50rem]']">

                    <li class="flex flex-row items-center">
                        <shared-simple-dropdown class="w-full" fieldName="workspace" label="Workspace*"
                            [formGroup]="registerForm" [dropdownItems]="workspace" [selectedItem]="selectedWorkspace">
                        </shared-simple-dropdown>
                        <shared-input-field class="w-full" fieldName="otherWorspace" label="Other" inputType="text"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>
                    <li>
                        <div class=" relative flex justify-end text-left">
                            <div>
                                <button (click)="toggleDropdown()" type="button"
                                    class="inline-flex justify-center items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    Attached Documentation (both docs required)*
                                </button>
                            </div>

                            <div [class.show]="isDropdownOpen"
                                class="dropdown-menu flex flex-col p-5 space-y-2 z-50 bg-white origin-top-right absolute right-0 mt-11 w-96 rounded-md shadow-lg ring-1 ring-black ring-opacity-5">
                                <div class="mb-4">
                                    <label for="collegiateCardArchive"
                                        class="block text-sm font-medium text-gray-700 mb-1">Upload
                                        Collegiate card</label>
                                    <div class="flex items-center">
                                        <input type="file" id="collegiateCardArchive"
                                            formControlName="collegiateCardArchive" class="hidden"
                                            (change)="displayFileName()">
                                        <label for="collegiateCardArchive"
                                            class="cursor-pointer inline-block bg-gray-300 py-2 px-4 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-400 focus:outline-none focus:ring focus:border-blue-300">
                                            Select File
                                        </label>
                                        <span class="ml-2 text-yellow-500">{{this.documentNames[0]}}</span>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="lastReceiptCLI"
                                        class="block text-sm font-medium text-gray-700 mb-1">Upload
                                        Copy of Last Civil Liability Insurance Receipt</label>
                                    <div class="flex items-center">
                                        <input type="file" id="lastReceiptCLI" formControlName="lastReceiptCLI"
                                            class="hidden" (change)="displayFileName()">
                                        <label for="lastReceiptCLI"
                                            class="cursor-pointer inline-block bg-gray-300 py-2 px-4 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-400 focus:outline-none focus:ring focus:border-blue-300">
                                            Select File
                                        </label>
                                        <span class="ml-2 text-yellow-500">{{this.documentNames[1]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>   
            
                    <li class="pl-1 pb-7 flex flex-col space-y-4">
                        <label *ngFor="let condition of conditionsArray; let i = index">
                            <input type="checkbox" [formControlName]="'condition' + i" /> {{ condition.value }}
                        </label>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="identity" label="CIF/ D.N.I/ PASAPORTE*"
                            inputType="text" [formGroup]="registerForm"
                            [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="name" label="Name*" inputType="text"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="firstSurname" label="First surname*"
                            inputType="text" [formGroup]="registerForm"
                            [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="middleSurname" label="Middle surname*"
                            inputType="text" [formGroup]="registerForm"
                            [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="landline" label="Landline" inputType="text"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="mobilePhone" label="Mobile Phone*"
                            inputType="text" [formGroup]="registerForm"
                            [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="email" label="Email*" inputType="email"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="web" label="Web" inputType="text"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-input-field class="w-full" fieldName="zipCode" label="Zip Code" inputType="number"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-input-field>
                    </li>

                    <li>
                        <shared-text-area class="w-full" fieldName="address" label="Address*" inputType="text"
                            [formGroup]="registerForm" [bgColor]="'bg-white-lightbone'"></shared-text-area>
                    </li>

                    <li class="pt-5">
                        <shared-simple-dropdown class="w-full" fieldName="payTPV" label="Pay TPV*"
                            [formGroup]="registerForm" [dropdownItems]="payTPV" [selectedItem]="selectedpayTPV">
                        </shared-simple-dropdown>
                    </li>
                </div>

                <li class="pl-1">
                    <input type="checkbox" id="acceptConditions" formControlName="acceptConditions">
                    <label for="acceptConditions"> Acepto las Condiciones</label>
                </li>

                <div *ngIf="!registerForm.value.acceptConditions" class="text-red-700 pl-1">
                    Debes aceptar las condiciones.
                </div>
            </ul>
            <div class="flex flex-row space-x-2">
                <button
                    class="w-60 h-12  border bg-white text-blue-950 text-lg mt-4 rounded-lg font-bold hover:bg-hover-darkblue"
                    i18n="@@signin">
                    Cancelar
                </button>

                <button type="submit"
                    class="w-full h-12  bg-yellow-500 text-blue-950 text-lg mt-4 rounded-lg font-bold hover:bg-hover-darkblue"
                    i18n="@@signin">
                    Registrarse
                </button>
            </div>
        </form>
    </div>
</div>